$PREF: 's-integrations';

// ## INTEGRATION COMPANY ICON

.#{$PREF}-icon {
  border-radius: $xs;
  height: $xxl;
  width: $xxl;

  &--lg {
    border-radius: $xs;
    height: $xxl + $xs; // 68px
    margin-bottom: $sm;
    width: $xxl + $xs; // 68px
  }
}

// ## INTEGRATION CARD CONTAINER - Defined in 12 column grid system with the
// minimum column size being 270px and the max being 1fr.

.#{$PREF}-card-ctr {
  column-gap: $md;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($xxl * 5, 1fr));
  max-width: 100%;
  padding: $xxs 0;
  row-gap: $md;
}

// ## INTEGRATION CARD

// Need the .flex-sb so that the action button appears at the end of the card.
// Only becomes issue when there are originally different heights of the cards.
.#{$PREF}-card { @extend .card; @extend .flex-sb; }

// The first div child wraps the logo, title, and description.
.#{$PREF}-card > div:first-child > h3 { margin-bottom: $xs; }
.#{$PREF}-card > div:first-child > p { margin-bottom: $sm; }

// The last div child wraps the action button.
.#{$PREF}-card > div:last-child,
.#{$PREF}-card > div:last-child > button { width: 100%; }

// ## CARD HEADER

.#{$PREF}-card-header { @extend .flex-acsb; margin-bottom: $sm; }

// ## CARD CONNECTED (CHECK MARK AND LABEL)

.#{$PREF}-connected { @extend .flex-ac; margin-right: $sm; }
.#{$PREF}-connected > svg { color: $green; margin-right: $xxs; }
.#{$PREF}-connected > p { @extend .sb; color: $green; }

// ## MODAL (ONBOARDING AND DETAILS)
.#{$PREF}-modal > h1 { color: black; }

.#{$PREF}-modal-item {
  margin: $xl 0;

  &--detail { margin: $md 0; }
  &--detail > p:last-of-type { @extend .sb; color: $primary; }
}

.#{$PREF}-action-ctr { @extend .flex-ac; margin-top: $lg; }
.#{$PREF}-action-ctr > button:first-of-type { margin-right: $xs; }
