@import 'src/index.scss';

$PREF: 's-integrations';

// ## INTEGRATIONS

// ## INTEGRATION CARD CONTAINER

.#{$PREF}-card-ctr { @extend .flex-w; }

// ## INTEGRATION COMPANY ICON

.#{$PREF}-icon {
  border-radius: $xs;
  height: $xxl;
  width: $xxl;

  &--lg {
    border-radius: $xs;
    height: $xxl + $xs;
    margin-bottom: $sm;
    width: $xxl + $xs;
  }
}

.#{$PREF}-header { @extend .flex-acsb; margin-bottom: $sm; }

// ## INTEGRATION CARD

.#{$PREF}-card {
  @extend .card;

  background-color: white;
  margin-bottom: $md;
  margin-right: $md;
  width: $xxl * 5;
}

.#{$PREF}-card > h3 { margin-bottom: $xs; }
.#{$PREF}-card > p { margin-bottom: $sm; }

.#{$PREF}-card-completed { @extend .flex-ac; margin-right: $sm; }
.#{$PREF}-card-completed > svg { color: $green; margin-right: $xxs; }
.#{$PREF}-card-completed > p { @extend .bold; color: $green; }

// ## ONBOARDING MODAL

.#{$PREF}-form-item { margin: $xl 0; }
.#{$PREF}-title { margin-bottom: -$sm; }

.#{$PREF}-action-ctr { @extend .flex-ac; margin-top: $lg; }
.#{$PREF}-action-ctr > button:first-of-type { margin-right: $xs; }

// ## DETAILS MODAL

.#{$PREF}-details-item { margin: $md 0; }
.#{$PREF}-details-item > p:last-of-type { @extend .bold; color: $primary; }
