$PREF: 's-events-individual';

// ## INDIVIDUAL EVENT GRID

.#{$PREF}-grid {
  column-gap: $sm;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: $md;

  @include LTE(1300) { display: block; }
  @include T { display: grid; }
  @include LTE(900) { display: block; }

  > *:first-child { grid-column-end: span 7; }
  > *:last-child { grid-column-end: span 5; }
}

// ## INDIVIDUAL EVENT HEADER

.#{$PREF}-header {
  @extend .#{$PREF}-grid;

  background-color: white;
}

// ## INDIVIDUAL EVENT HEADER CONTENT - Contains basic information such as
// date, title, and actions for the event.

.#{$PREF}-header-content {
  @extend .flex-col;

  > div:first-child {
    margin-bottom: $md;
    margin-top: auto;

    @include LTE(1300) { margin-top: $md; }
    @include T { margin-top: auto; }
    @include LTE(900) { margin-top: $md; }
  }

  > div:first-child > h1 { margin-bottom: $xxs; }
  > div:first-child > .c-tag-number { margin-top: $xs; }
  > div:first-child > .flex-ac { margin-bottom: $md; }

  > .t-action-ctr { margin-top: auto; }
}

.#{$PREF}-header-date {
  align-items: baseline;
  > div:first-child > h4:first-child { margin-bottom: $xxs; }
  > div:first-child > h4:last-child { color: $gray-2; }
}

// // ## INDIVIDUAL EVENT CARD - Refers to the about card and the guest list
// // card.

.#{$PREF}-card {
  height: fit-content;

  &:not(:last-child) {
    @include LTE(1300) { margin-bottom: $md; }
    @include T { margin-bottom: initial; }
    @include LTE(900) { margin-bottom: $md; }
  }

  > .t-loading-header:first-child { margin-bottom: $sm; }
  > div:last-child { max-height: $xxl * 5; overflow: scroll; }
}

// // ## INDIVIDUAL EVENT GUEST - In the guest list.

.#{$PREF}-guest {
  @extend .flex-ac;

  border-radius: $xs;
  justify-content: flex-start;
  padding: $xs $xxs;
  transition: background-color 300ms;
  width: 100%;

  @include PRIMARY_HOVER;

  &:not(:last-child) { margin-bottom: $xs; }
  > *:first-child { margin-right: $ss; }
}

// // ## INDIVIDUAL EVENT ANALYTICS

.#{$PREF}-analytics { padding: $md; }
.#{$PREF}-analytics-row {
  @include LTE(1300) {
    display: block;

    > div { width: 100%; }
    > div:not(:last-child) { margin-bottom: $sm; }
  }
}
