@import 'src/index.scss';

$PREF: 'c-picker';

.#{$PREF}-ctr { @extend .flex; }

.#{$PREF} {
  @extend .shadow--2;

  background-color: white;
  border-radius: $xs;
  min-width: $xxl * 4;
  padding: $xs 0;
  position: absolute;
  width: max-content;
  z-index: 100;
}

.#{$PREF}-option {
  @extend .fill;
  @extend .body--1;
  
  color: $gray-2;
  padding: 12px;
  text-align: left;
  width: 100%;

  @include PRIMARY_HOVER;

  &:last-of-type { margin-bottom: 0; }
}
