$PREF: 's-actions-dues';

.#{$PREF} > p:first-of-type {
  margin-bottom: $md;
  > span { @extend .sb; }
}

.#{$PREF} > h1 { color: $primary; margin-bottom: $sm; }

.#{$PREF} > .c-btn { width: 100%; }

// ## DUES FORM ITEM

.#{$PREF} > .c-form-item, .#{$PREF}-item {
  margin-bottom: $md;
  margin-top: 0;

  > .c-form-label { margin-bottom: 0; }

  > p:first-child,
  > .c-form-label > p {
    @extend .meta--lg;

    margin-bottom: $xs;
  }

  > div.c-misc-input {
    margin-bottom: $md;

    // Needed to format the Stripe card element card correctly.
    > .__PrivateStripeElement { width: 100%; }
  }
}

.#{$PREF}-item--type > div { @extend .flex-acsb; }
