$PREF: 's-actions-dues';

.#{$PREF} > p:first-of-type {
  margin-bottom: $md;
  > span { @extend .body--bold; }
}

.#{$PREF} > h1 { color: $primary; margin-bottom: $sm; }

.#{$PREF} > .c-btn { width: 100%; }

// ## DUES FORM ITEM

.#{$PREF}-billing-ctr > .c-form-item,
.#{$PREF} > .c-form-item, 
.#{$PREF}-item {
  margin-bottom: $md;
  margin-top: 0;

  > h4:first-child,
  > .c-form-label { margin-bottom: $xs; }

  > div.c-misc-input {
    margin-bottom: $md;

    // Needed to format the Stripe card element card correctly.
    > .__PrivateStripeElement { width: 100%; }
  }
}

// ## DUES ITEM CONTAINER (BILLING ROW)
.#{$PREF}-billing-ctr { @extend .flex-acsb; }
.#{$PREF}-billing-ctr > div:not(:last-child) { margin-right: $sm; }

.#{$PREF}-item--type > div { @extend .flex-acsb; }
