$PREF: 't-action-ctr';

.#{$PREF} { @extend .flex-ac; }

.#{$PREF}--standard { > button:first-child { margin-right: $xs; } }

// ## EQUAL ACTION CONTAINER - Each of the two buttons in the container take
// exactly 50% of the container.

.#{$PREF}--equal {
  bottom: $md;
  position: sticky;
  width: 100%;

  > button { width: 50%; }
  > button:first-child { margin-right: $xxs; }
  > button:last-child { margin-left: $xxs; }
}

.#{$PREF}--margin-top-auto { margin-top: auto; }
