$PREF: 'c-modal';

// ## MODAL BACKGROUND (DARK OPACITY)

// We don't set the opacity since the framer-motion animation takes care of
// that for us.
.#{$PREF}-bg {
  @extend .full-screen;

  backdrop-filter: blur(2px);
  background-color: hsla($primary-hue, 5%, 20%, 0.5);
  z-index: 1000;
}

// ## MODAL CONTAINER

.#{$PREF}-ctr {
  background-color: white;
  bottom: calc(-50vh + 50%);
  box-sizing: border-box;
  height: fit-content;
  left: calc(-50vw + 50%);
  margin: auto;
  overflow: scroll;
  position: fixed;
  right: calc(-50vw + 50%);
  top: calc(-50vh + 50%);
  z-index: 1001;

  @include M { height: 100%; width: 100%; }
  @include TD { border-radius: $xs; max-height: 90%; width: 550px; }
}

// ## MODAL CONTENT

.#{$PREF} { max-height: inherit; padding: $md; }

// All modals will have an h1 tag, which will be standardized everywhere.
.#{$PREF} > h1 { color: $primary; margin-bottom: $sm; }
.#{$PREF} > p:first-of-type { margin-bottom: $md; }

// ## CONFIRMATION MODAL

.#{$PREF}--confirmation > p { margin-bottom: $md; }
.#{$PREF}--confirmation > div { @extend .flex-ac; }
.#{$PREF}--confirmation > div > button:first-of-type { margin-right: $xs; }
