$PREF: 'c-panel';

// ## PANEL CONTAINER

.#{$PREF}-ctr { @extend .flex; }

// ## PANEL CONTAINER

.#{$PREF} {
  @extend .shadow--2;

  background-color: white;
  border-radius: $xs;
  min-width: $xxl * 4;
  padding: $xs;
  position: fixed;
  width: max-content;
  z-index: 100;
}

// ## PANEL OPTION

.#{$PREF}-option {
  @extend .flex-ac;
  @extend .fill;
  @extend .body;
  
  border-radius: $xxs;
  color: $gray-2;
  padding: $ss $xs;
  text-align: left;
  width: 100%;

  @include HOVER { background-color: $primary-bg; }

  > svg { height: $sl; margin-right: $xs; width: $sl; }
}
