$PREF: 's-analytics';

// ## HEADER

.#{$PREF}-header { display: grid; grid-template-columns: repeat(12, 1fr); }
.#{$PREF}-header > div:first-child { grid-column-end: span 5; }
.#{$PREF}-header > *:nth-child(2) { grid-column-end: span 4; }

// ## SIMPLE - Card that displays simple information: value, percentage change
// and a label.

.#{$PREF}-simple {
  background-color: hsla($primary-hue, 5%, 88%, 0.4);
  border-radius: $xs;
  padding: $sm;
  position: relative;
}

.#{$PREF}-simple > div:first-child {
  @extend .flex-ac;

  margin-bottom: $xxs;

  > h1 { font-size: 32px; margin-right: $xs; }
}

.#{$PREF}-simple > p {
  @extend .meta;

  color: $gray-2;
  font-weight: 700;
  text-transform: uppercase;
}
