$PREF: 't-aspect';

// ## ASPECT RATIO CONTAINER

.#{$PREF} {
  &--margin-top-auto { margin-top: auto; }

  &:not(&--equal) > *:not(:last-child) { margin-right: $xs; }

  &--equal {
    bottom: $md;
    position: sticky;
    width: 100%;
  
    > button { width: 50%; }
    > button:first-child { margin-right: $xxs; }
    > button:last-child { margin-left: $xxs; }
  }
}
