$PREF: 'o-form';

// ## FORM

.#{$PREF} {
  &--spacing-md > .#{$PREF}-item { margin-bottom: $md; }
  &--spacing-lg > .#{$PREF}-item { margin-bottom: $lg; }
}

// ## FORM DESCRIPTION

.#{$PREF}-desc {
  color: $gray-2;
  margin-bottom: $sm;

  &:last-child { @extend .meta; color: $gray-3; margin: $xs 0 0 0; }
}

.#{$PREF}-error { color: $red; margin-top: $xxs; }

// ## FORM LABEL

.#{$PREF}-label {
  @extend .flex-ac;

  color: $gray-2;
  margin-bottom: $xs;
  width: 100%;

  > svg { color: $green; margin-right: $xs; }
  > div.c-misc-tip { color: $primary; margin-left: $xxs; }
  > h4 { color: $gray-2; }

  &--required > h4::after { color: $red; content: '*'; margin-left: $xxs; }
}

// ## FORM SECTION

.#{$PREF}-section {
  margin-bottom: $lg;
  > h2 { margin-bottom: $md; }
}

// ## FORM SECTION HEADER

.#{$PREF}-section-header { margin-bottom: $md; }

// ## FORM SUBMIT BUTTON

.#{$PREF}-submit {
  &--continue {
    margin-top: $lg;

    &:disabled > svg { color: $gray-3; }
    > svg { color: white; margin-left: $xs; }
  }
  
  &--invisible { display: none; }
  &--sticky { bottom: $md; position: sticky; }
}

// ## FORM COVER IMAGE UPLOAD 

.#{$PREF}-item--cover-image {
  @extend .flex-col;

  background-blend-mode: multiply;
  background-color: white;
  background-size: cover;
  border: 1px $primary dashed;
  border-radius: $xs;
  box-sizing: border-box;
  height: 300px;
  justify-content: flex-end;
  padding: $sm;
  width: 100%;

  @include MT { height: initial; padding-top: 50%; }

  > .c-btn--secondary {
    background-color: white;
    margin-top: $sm;
    position: sticky;
    width: fit-content;
    z-index: 11;
  }

  > input { display: none; }
  ~ .meta { margin-top: $xs; }
}

// ## FORM IMAGE UPLOAD 

.#{$PREF}-item--image {
  > input { display: none; }

  > button {
    @extend .flex-acc;
  
    background-size: cover;
    border-radius: 50%;
    height: $xl * 2;
    width: $xl * 2;
  }

  > button > svg { @extend .react-icon--xl; color: white; }
}

// ## FORM LARGE TITLE

.#{$PREF}-item--large-title {
  border: none;
  font-size: 24px;
  font-weight: 700;
  resize: none;
  width: 100%;

  &:not(&--error):focus ~ hr { border-bottom: 1px $primary solid; }
  &--error ~ hr { border-bottom: 1px $red solid; }
}

// ## FORM DATE PICKER

.#{$PREF}-item--date {
  > .react-datepicker-wrapper { @extend .c-misc-input; }

  > .react-datepicker-wrapper > *,
  > .react-datepicker-wrapper > * > * {
    background-color: inherit;
    height: 100%;
    width: inherit;
  }
}

.react-datepicker {
  @extend .shadow--2;

  border: none !important;
  padding: $xs;
}

.react-datepicker__current-month { @extend .meta; text-align: center; }

.react-datepicker__header {
  background-color: white !important;

  > .react-datepicker__current-month { margin-bottom: $xxs; }
}

.react-datepicker__navigation { top: $sm !important; }

.react-datepicker__time-list-item {
  @extend .meta;

  border-radius: $xxs !important;
  height: initial !important;
  outline: none;
  padding: $xs 0 !important;

  &:not(:last-child) { margin-bottom: $xs; }

  &:not(&--disabled):not(&--selected):hover {
    background-color: $primary-bg !important;
  }

  &--selected { background-color: $primary !important; }

  &--keyboard-selected {
    background-color: initial !important;
    color: initial !important;
  }
}

.react-datepicker__day {
  @extend .meta;

  outline: none;

  &:not(&--disabled):not(&--selected):hover {
    background-color: $primary-bg !important;
  }

  &--disabled { color: $gray-4 !important; }
  &--today { font-weight: initial !important; }

  &--selected { background-color: $primary !important; }

  &--keyboard-selected {
    background-color: initial !important;
    color: initial !important;
  }
}
