$PREF: 'o-form';

// ## FORM

.#{$PREF}--spacing-md {
  > .#{$PREF}-item,
  .t-row > .#{$PREF}-item,
  .#{$PREF}-section > .#{$PREF}-item { margin-bottom: $md; }
}

.#{$PREF}--spacing-lg {
  > .#{$PREF}-item,
  > .t-row,
  > .#{$PREF}-section > .#{$PREF}-item,
  > .#{$PREF}-section > .t-row { margin-bottom: $lg; }
}

// ## FORM DESCRIPTION

.#{$PREF}-desc {
  color: $gray-2;
  margin-bottom: $sm;

  &:last-child { @extend .meta; color: $gray-3; margin: $xs 0 0 0; }
}

.#{$PREF}-error { color: $red; margin-top: $xxs; }
.t-row > .#{$PREF}-item > .#{$PREF}-error { width: max-content; }

// ## FORM LABEL

.#{$PREF}-label {
  @extend .flex-ac;

  color: $gray-2;
  margin-bottom: $xs;
  width: 100%;

  > svg { color: $green; margin-right: $xs; }
  > div.c-misc-tip { color: $primary; margin-left: $xxs; }
  > h4 { color: $gray-2; }

  &--required > h4::after { color: $red; content: '*'; margin-left: $xxs; }
}

// ## FORM HEADER

.#{$PREF}-header {
  margin-bottom: $md;

  > h1:first-of-type,
  > h2:first-of-type { margin-bottom: $xs; }
}

// ## FORM SECTION

.#{$PREF}-section {
  margin-bottom: $lg;

  > h2:first-of-type { margin-bottom: $md; }
}

// ## FORM SUBMIT BUTTON

.#{$PREF}-submit {
  &--invisible { display: none; }
  &--sticky { bottom: $md; position: sticky; }
}

// ## FORM COVER IMAGE UPLOAD 

.#{$PREF}-item--cover-image {
  @extend .flex-col;

  background-blend-mode: multiply;
  background-color: white;
  background-size: cover;
  border: 1px $primary dashed;
  border-radius: $xs;
  box-sizing: border-box;
  height: 300px;
  justify-content: flex-end;
  padding: $sm;
  width: 100%;

  @include MT { aspect-ratio: 2; height: initial; }

  > .c-btn--secondary {
    background-color: white;
    margin-top: $sm;
    position: sticky;
    width: fit-content;
    z-index: 11;
  }

  > input { display: none; }
  ~ .meta { margin-top: $xs; }
}

// ## FORM IMAGE UPLOAD 

.#{$PREF}-item--image {
  > input { display: none; }

  > button {
    @extend .flex-acc;
  
    background-size: cover;
    border-radius: 50%;
    height: $xl * 2;
    width: $xl * 2;
  }

  > button > svg { @extend .react-icon--xl; color: white; }
}

// ## FORM LARGE TITLE

.#{$PREF}-item--large-title {
  border: none;
  font-size: 24px;
  font-weight: 700;
  resize: none;
  width: 100%;

  &:not(&--error):focus ~ hr { border-bottom: 1px $primary solid; }
  &--error ~ hr { border-bottom: 1px $red solid; }
}

// ## FORM DATE PICKER

.#{$PREF}-item--date {
  > .react-datepicker-wrapper { @extend .c-misc-input; }

  > .react-datepicker-wrapper > *,
  > .react-datepicker-wrapper > * > * {
    background-color: inherit;
    height: 100%;
    width: inherit;
  }
}

// ## REACT DATE PICKER OVERRIDING STYLES

.react-datepicker {
  @extend .shadow--2;

  border: none !important;
  border-radius: $xs;
  padding: $xs;
}

.react-datepicker__month { margin: 0; }

.react-datepicker__day-names,
.react-datepicker__week { @extend .flex-acsb; padding: $xxs; }

.react-datepicker__day-names > *:not(:last-child),
.react-datepicker__week > *:not(:last-child) { margin: 0 $xxs 0 0; }

.react-datepicker__current-month {
  @extend .body--bold;

  margin-bottom: $xxs;
  text-align: center;
}

.react-datepicker__header { background-color: white !important; }
.react-datepicker__navigation { top: $sm !important; }

.react-datepicker__day,
.react-datepicker__time-list-item {
  @extend .meta;

  border-radius: $xxs !important;
  height: initial !important;
  outline: none;

  &--disabled { color: $gray-4 !important; }
  &--selected { background-color: $primary !important; }
  &--today { font-weight: initial !important; }

  &--keyboard-selected {
    background-color: initial !important;
    color: initial !important;
  }
}

.react-datepicker__time-list-item {
  padding: $xs 0 !important;
  &:not(:last-child) { margin-bottom: $xs; }
}

/* stylelint-disable */
.react-datepicker__day,
.react-datepicker__time-list-item {
  &:not(&--disabled):not(&--selected):hover {
    background-color: $primary-bg !important;
  }
}

// ## STRIPE ELEMENT OVERRIDING STYLES

.__PrivateStripeElement { width: 100%; }
