$PREF: 'c-spinner';

// ## SPINNER

.#{$PREF} {
  border: 2px $gray-6 solid;
  border-radius: 50%;
  border-top: 2px $gray-3 solid !important;
  height: 18px;
  width: 18px;

  &--dark { border: 2px $gray-5 solid; }
}
