$PREF: 'c-toast';

// ## TOAST CONTAINER

.#{$PREF}-ctr {
  @extend .flex-accol;

  bottom: 0;
  position: fixed;
  right: 0;
  width: fit-content;
  z-index: 1000;
}

// ## TOAST

.#{$PREF} {
  @extend .shadow--1;

  background-color: $primary;
  border-radius: $xl;
  margin-bottom: $sm;
  margin-left: auto;
  margin-right: $sm;
  padding: $xs $sm;

  > p { @extend .body; color: white; }

  &--error { background-color: $red; }
  &--pessimistic { background-color: $gray-1; }

  &--undo {
    @extend .flex-acsb;

    > p { margin-right: $xs; }
    > button { color: white; }
    > button:hover { background-color: rgba($color: white, $alpha: 0.1); }
  }
}
