@import 'src/index.scss';

$PREF: 'c-toast';

.#{$PREF}-ctr {
  @extend %flex-accol;

  left: 50%;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 1000;
}

.#{$PREF} {
  @extend %flex-ac;

  background-color: $green-1;
  border-radius: $xl;
  margin-left: auto;
  margin-right: auto;
  margin-top: $xs;
  padding: $xs 18px;
}

.#{$PREF}--error { background-color: $red; }

.#{$PREF} > img {
  height: $sm;
  margin-right: $xs;
  width: $sm;

  @include M { height: $sm; margin-right: 8px; width: $sm; }
}

.#{$PREF} > p { @extend .body--1; color: white; }
