/*
  _____             _      
 |_   _|__  __ _ __| |_ ___
   | |/ _ \/ _` (_-<  _(_-<
   |_|\___/\__,_/__/\__/__/                           
*/

@import 'src/index.scss';

$PREF: 'c-toast';

.#{$PREF}-ctr {
  @extend %flex-accol;

  left: 50%;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 1000;
}

.#{$PREF} {
  @extend %flex-ac;

  background-color: $green-1;
  border-radius: $xl;
  margin-left: auto;
  margin-right: auto;
  margin-top: $xs;
  padding: $xs 18px;
}

.#{$PREF}--error { background-color: $red; }

.#{$PREF}__icon {
  height: $sm;
  margin-right: $xs;
  width: $sm;

  @include M { height: 16px; margin-right: 8px; width: 16px; }
}

.#{$PREF}__msg { @extend .body--2; color: $white; }
