@import 'src/index.scss';

$PREF: 'c-loader';

.#{$PREF}-ctr {
  @extend .flex-acc;

  background-color: $gray-6;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.#{$PREF} {
  align-items: center;
  column-gap: -20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.#{$PREF} > div { @extend .flex-col; margin-left: -8px; margin-right: -8px; }
.#{$PREF} > div > img { margin-top: 4px; }

.#{$PREF}-spinner {
  border: 2px $gray-6 solid;
  border-radius: 50%;
  border-top: 2px $gray-3 solid !important;
  height: 18px;
  width: 18px;

  &--dark { border: 2px $gray-5 solid; }
}
