/*
  _                 _         
 | |   ___  __ _ __| |___ _ _ 
 | |__/ _ \/ _` / _` / -_) '_|
 |____\___/\__,_\__,_\___|_|         
*/

@import 'src/index.scss';

$PREF: 'c-loader';

.#{$PREF} {
  align-items: center;
  column-gap: -20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.#{$PREF}-bg {
    @extend %flex-acc;

    background-color: $gray-6;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.#{$PREF}-col {
  @extend %flex-col;

  margin-left: -8px;
  margin-right: -8px;
}

.#{$PREF}-col__img { margin-top: 4px }
