$PREF: 'c-loader';

// ## FULL SCREEN LOADER

.#{$PREF}-ctr {
  @extend .flex-acc;
  @extend .full-screen;

  background-color: $gray-6;
  z-index: 1005;
}

.#{$PREF} {
  align-items: center;
  column-gap: -$sl;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.#{$PREF} > div { @extend .flex-col; margin-left: -8px; margin-right: -8px; }
.#{$PREF} > div > img { margin-top: 4px; }
