$PREF: 's-profile';

// ## PROFILE

.#{$PREF} {
  column-gap: $sm;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  padding: $xxs 0;
  padding-top: $md;
  row-gap: $sm;
}

// ## PROFILE EDIT BUTTON

.#{$PREF}-edit {
  > svg { color: $primary; margin-left: $xxs; }
}

// ## PROFILE CARD

// .#{$PREF}-card {}

.#{$PREF}-card--personal,
.#{$PREF}-card--membership { grid-column-end: span 8; }

// ## PROFILE PERSONAL CARD

.#{$PREF}-card--personal {
  @extend .flex;

  flex-direction: row;

  > div:first-child { margin-right: $md; }
}

.#{$PREF}-card--personal-main {
  flex-grow: 1;

  > div:first-child { margin-bottom: $xxs; }
  > .m-misc-mail-to { margin-bottom: $sm; }
  > .t-row--gap-sm { margin-bottom: $xs; }
  > p:not(:last-child) { margin-bottom: $sm; }
}

// ## PROFILE MEMBERSHIP CARD

.#{$PREF}-card--membership {
  > div:first-child { margin-bottom: $sm; }
}

// ## PROFILE SOCIAL CARD

.#{$PREF}-card--social {
  grid-column-end: span 4;
  height: fit-content;

  &-empty-img { margin: $md; }
}
