$PREF: 'm-toggle';

.#{$PREF} {
  @extend .flex-ac;

  > p { margin-right: $xs; }

  > div {
    @extend .flex;

    background-color: $gray-4;
    border-radius: $sm;
    cursor: pointer;
    height: $sm;
    justify-content: flex-start;
    padding: 2px;
    transition: background-color 300ms;
    width: $sm * 2;

    > div {
      background-color: white;
      border-radius: 50%;
      height: $sm;
      width: $sm;
    }
  }

  &--on > div { background-color: $primary; justify-content: flex-end; }
}
