$PREF: 't-grid';

// ## GRID CONTAINER

.#{$PREF} {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
  
  &--spacing-xxs { column-gap: $xxs; row-gap: $xxs; }
  &--spacing-xs { column-gap: $xs; row-gap: $xs; }
  &--spacing-sm { column-gap: $sm; row-gap: $sm; }
}
