$PREF: 'c-form';

// ## GENERAL

.#{$PREF}-item { margin-bottom: $lg; margin-top: $lg; }
.#{$PREF}-desc { color: $gray-2; margin-bottom: $sm; }
.#{$PREF}-error { color: $red; margin-top: $xxs; }

// ## LABEL

.#{$PREF}-label {
  @extend .flex-ac;

  color: $gray-1;
  margin-bottom: $xs;
  width: 100%;

  > svg { color: $green; margin-right: $xs; }

  &--required > h4::after { color: $red; content: '*'; margin-left: $xxs; }
}

// ## DROPDOWN BAR CONTAINER

// Dropdown bar that user clickes on to open the option container.
div.#{$PREF}-dd-bar {
  @extend .flex-acsb;
  @extend .c-misc-input;

  cursor: pointer;

  > div { max-width: 100%; overflow: scroll; }

  // If the container becomes full, still shows arrow at regular size.
  > svg { color: $gray-4; height: $sm; overflow: visible; width: $sm; }

  &--open {
    background-color: white;
    border: 1px $primary solid;

    > svg { color: $primary; }
  }
}

// When a user selects an option, it displays in this container.
.#{$PREF}-dd-value-ctr { @extend .flex-ac; }
.#{$PREF}-dd-value-ctr > button.c-tag-attr { overflow: visible; }

// The value that displays is just a tag except with no margin-left and that
// has an option to delete, shown by the 'x' in the ::after rule.
button.#{$PREF}-dd-value {
  margin-left: 0;

  &::after { content: 'x'; margin-left: $xs; }
}

// ## DROPDOWN OPTION CONTAINER

.#{$PREF}-dd-search { box-sizing: border-box; padding: 8px; width: 100%; }

.#{$PREF}-dd-opt-ctr {
  @extend .shadow--1;

  background-color: white;
  border-radius: $xxs;
  margin-bottom: $xl; // For when the dropdown is at the bottom of the page.
  padding-bottom: $xs;
  padding-top: $xs;
  position: absolute; // So that the container doesn't change document flow.
}

// No results message.
.#{$PREF}-dd-opt-ctr > p {
  @extend .flex-ac;

  color: $gray-3;
  height: $lg;
  margin-left: $xs;
  width: 100%;
}

// ## DROPDOWN OPTION

.#{$PREF}-dd-opt {
  @extend .flex-ac;
  
  height: $lg;
  overflow: hidden;
  width: 100%;

  @include HOVER { background-color: $gray-6; }
}

.#{$PREF}-dd-opt > p { @extend .c-tag-attr; margin-left: $xs; }
