// Handles all Form components CSS.

@import 'src/index.scss';

$PREF: 'c-form';

// ## GENERAL

.#{$PREF}-item { margin-bottom: $md; margin-top: $md; }
.#{$PREF}-desc { @extend .body--1; margin-bottom: $xxs; }
.#{$PREF}-error { @extend .body--2; color: $red; margin-top: $xxs; }

// ## LABEL

.#{$PREF}-label { @extend %flex-ae; @extend %flex-sb; width: 100%; }

// Represents the actually label content (AKA title).
.#{$PREF}-label > p:not(.c-form-label-count) {
  @extend .meta;

  font-size: 14px;
  font-weight: 600;
  margin-bottom: $xxs;
  max-width: 85%;
}

// Represents the required symbol after the label's title.
.#{$PREF}-label--required > p:not(.c-form-label-count)::after {
  color: $red;
  content: '*';
  margin-left: $xxs;
}

.#{$PREF}-label-count { @extend .meta; color: $gray-3; margin-bottom: $xxs; }

// ## INPUT

.#{$PREF}-input {
  @extend %flex-acsb;

  background-color: white;
  border: 1px $gray-4 solid;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: text;
  height: $lg;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;

  &::placeholder { color: $gray-4; }
  &:active { border: 1px $primary solid; }
  &--error { border: 1px $red solid; }

  &--lg {
    height: 96px;
    justify-content: center;
    padding-bottom: $xxs;
    padding-top: $xxs;
    resize: none;
  }
}

// ## MULTIPLE CHOICE

.#{$PREF}-mc-choice { @extend %flex-ac; margin-bottom: $xs; }
.#{$PREF}-mc-choice:first-of-type { margin-top: $xs; }
.#{$PREF}-mc-choice > div {
  @extend %flex-acc;

  background-color: white;
  border: 2px solid $gray-4;
  border-radius: 50%;
  height: $sm;
  width: $sm;
}

.#{$PREF}-mc-choice--active > p {
  background-color: rgba($color: $primary-hex, $alpha: 0.2);
}

.#{$PREF}-mc-choice--active > div { border: 2px $primary solid; }

.#{$PREF}-mc-choice--active > div > div {
  background-color: $primary;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

// ## MULTIPLE (BOTH MULTIPLE CHOICE/SELECT)

.#{$PREF}-choice-txt {
  @extend .body--2;

  border-radius: $sm;
  color: black;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 6px;
  padding-right: 6px;
  text-align: left;
  text-transform: none;
}

// ## DROPDOWN (BOTH MULTIPLE CHOICE/SELECT)

.#{$PREF}-dd-bar { @extend %flex-acsb; cursor: pointer; }

.#{$PREF}-dd-arrow {
  border-left: $xxs solid transparent;
  border-right: $xxs solid transparent;
  border-top: $xxs solid $gray-4;
  height: 0;
  width: 0;
}

.#{$PREF}-dd-search {
  @extend .body--1;

  box-sizing: border-box;
  padding: 8px;
  width: 100%;
}

.#{$PREF}-dd-value-ctr { @extend %flex-ac; }

.#{$PREF}-dd-value {
  @extend %flex-ac;
  @extend .body--2;

  background-color: rgba($color: $primary-hex, $alpha: 0.2);
  border-radius: $sm;
  color: black;
  margin-right: $xxs;
  padding-left: $xxs;
  padding-right: $xxs;

  &::after { content: 'x'; margin-left: $xxs; }
}

.#{$PREF}-dd-opt-ctr {
  background-color: white;
  border-radius: $xxs;
  box-shadow: 0 4px 5px rgba($color: black, $alpha: 0.15);
  margin-bottom: $lg; // For when the dropdown is at the bottom of the page.
  padding-bottom: $xxs;
  padding-top: $xxs;
  position: absolute;
}

// No results message.
.#{$PREF}-dd-opt-ctr > p {
  @extend %flex-ac;
  @extend .body--1;

  height: $md;
  margin-left: 8px;
  width: 100%;
}

.#{$PREF}-dd-opt {
  @extend %flex-ac;

  
  height: $md;
  overflow: hidden;
  width: 100%;

  @include HOVER { background-color: $gray-6; }
}

.#{$PREF}-dd-opt > p {
  @extend .body--2;

  background-color: rgba($color: $primary-hex, $alpha: 0.2);
  border-radius: $sm;
  color: black;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 6px;
  padding-right: 6px;
  text-align: left;
  text-transform: none;
}
