@import 'src/index.scss';

$PREF: 's-applicants';

.#{$PREF} > p { @extend .body--1; }

.#{$PREF}-questions > p {
  @extend .meta;

  margin-right: $sm;
  width: fit-content;
}

.#{$PREF}-actions { @extend %flex-ac; margin-bottom: $sm; }
.#{$PREF}-actions > button { margin-right: $xs; }

// ## CARD CONTAINER

.#{$PREF}-card-ctr {
  column-gap: $md;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: $md;
};

// ## CARD

.#{$PREF}-card {
  @extend .shadow-1;

  background-color: white;
  border: 1px $gray-5 solid;
  border-radius: $xs;
  grid-column-end: span 6;
  padding: 12px 12px $md $sm;
};

// ## CARD HEADER

.#{$PREF}-card-header { @extend %flex-acsb; margin-bottom: $sm; }

.#{$PREF}-card-header > div > p {
  @extend .meta;

  color: $gray-3;
  margin-bottom: $xxs;
}

.#{$PREF}-card-header > div > button {
  > svg { height: $md; width: $md; }

  &:first-of-type > svg { color: $green; margin-right: $xs; }
  &:last-of-type > svg { color: $red; }
}

// ## CARD QUESTION

.#{$PREF}-card-question { margin-bottom: $sm; }
.#{$PREF}-card-question > p { @extend .body--2; }
.#{$PREF}-card-question > p:first-of-type { margin-bottom: $xxs; }
.#{$PREF}-card-question > p:last-of-type { @extend .body--2; color: $primary; }
.#{$PREF}-card-question--choice > p:last-of-type {
  background-color: rgba($color: $primary-hex, $alpha: 0.1);
  border-radius: $md;
  padding: $xxs 12px;
  width: fit-content;
}
