@import 'src/index.scss';

$PREF: 's-home-applicants';

.#{$PREF} { overflow: hidden; }
.#{$PREF} > p { @extend .body--1; }

.#{$PREF}-questions > p {
  @extend .meta;

  margin-right: $sm;
  width: fit-content;
}

.#{$PREF}-actions { @extend %flex-ac; margin-bottom: $sm; }
.#{$PREF}-actions > button { margin-right: $xs; }
