@import 'src/index.scss';

$PREF: 's-home-applicants';

.#{$PREF} { overflow: hidden; }
.#{$PREF} > p { @extend .body--2; }

.#{$PREF}-questions > p {
  @extend .meta;

  margin-right: $sm;
  width: fit-content;
}
