$PREF: 'mo-member-profile';

// ## MEMBER PROFILE

.#{$PREF}-pic { margin-bottom: $xs; }

.#{$PREF}-user-ctr-header { @extend .flex-sb; width: 100%; }
.#{$PREF}-user-ctr-header > :last-child {
  height: fit-content;
  position: sticky;
  top: 0;
}

.#{$PREF}-user-ctr:not(:last-child) { margin-bottom: $sm; }

.#{$PREF}-user-ctr > p { margin-bottom: $sm; text-align: center; }

// Current location of the person.
.#{$PREF}-user-ctr > p:first-of-type { @extend .meta; color: $gray-2; }

// ### PERSONAL INFORMATION CONTAINER

.#{$PREF}-personal-ctr {
  > h1 { color: $gray-1; margin-bottom: $xs; }
  > a:not(:last-child) { margin-bottom: $sm; }
  > .t-row { margin-bottom: $ss; }
}

.#{$PREF}-location {
  @extend .meta;

  color: $gray-2;
  margin-bottom: $xxs;
  width: fit-content;
}

// ### SOCIAL MEDIA CONTAINER

.#{$PREF}-social {
  margin-top: $sm;

  @include HOVER { transform: scale(1.1); }
  &:active { transform: scale(0.9); }

  &:not(:last-child) { margin-right: $sm; }

  > svg { @extend .react-icon--lg; }
  &--facebook > svg { color: #1877f2; }
  &--linkedin > svg { color: #0a66c2; }
  &--twitter > svg { color: #1da1f2; }
  &:last-child > a { @extend .flex; }
}

// ## QUESTIONS

.#{$PREF}-question:not(:last-child) { margin-bottom: $sm; }
.#{$PREF}-question > p:first-of-type {
  @extend .body--bold;

  margin-bottom: $xxs;
}
.#{$PREF}-question > p:last-of-type { color: $primary; }
.#{$PREF}-question--choice > p:last-child { @extend .c-tag-attr; }
