$PREF: 's-applicants';

// ## APPLICANTS CARD CONTAINER

.#{$PREF}-card-ctr {
  @include TD {
    grid-template-columns: repeat(auto-fill, minmax($xxl * 7.5, 1fr));
  }
  @include M {
    grid-template-columns: repeat(auto-fill, 1fr);
  }
};
