$PREF: 's-applicants';

// ## HEADER

.#{$PREF}-header { @extend .flex-acsb; }
.#{$PREF}-header > div:last-of-type { @extend .flex-ac; }

// ## ACCEPT ALL BUTTON

.#{$PREF}-accept-all { margin-right: $ss; }

.#{$PREF} > p { @extend .body; }

.#{$PREF}-questions > p {
  @extend .meta;

  margin-right: $sm;
  width: fit-content;
}

.#{$PREF}-actions { @extend .flex-ac; margin-bottom: $sm; }
.#{$PREF}-actions > button { margin-right: $xs; }

// ## CARD CONTAINER

.#{$PREF}-card-ctr {
  column-gap: $md;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($xxl * 7.5, 1fr));
  padding: $xxs 0;
  row-gap: $md;
};

// ## EXPANDED CARD

.#{$PREF}-expanded {
  box-sizing: border-box;
  max-height: inherit;
  
  &::-webkit-scrollbar { display: none; }
}

.#{$PREF}-expanded-header {
  @extend .flex-acsb;

  background-color: white;
  position: sticky;
  top: $md;
  z-index: 2;
}

.#{$PREF}-expanded-question > p:first-of-type { @extend .body--bold; }
.#{$PREF}-expanded-question:last-of-type { margin-bottom: $md !important; }
