$PREF: 'o-table';

// ## TABLE DATA CELL

td {
  @extend .#{$PREF}-cell;

  background-color: white;
  color: $gray-1;
  vertical-align: top;

  > div > .c-misc-checkbox {
    z-index: 10;
  }

  > div > p {
    @include OVERFLOW_ELLIPSES(3);
  }

  > div > .c-tag-attr {
    margin: 0 $xxs $xxs 0;
  }
}

.#{$PREF}-td {
  &--multiple-select > div {
    @extend .flex-w;
  }
}

// ## TABLE DATA ROW

tr {
  &:not(:last-child) {
    border-bottom: 1px $gray-5 solid;
  }
}

.#{$PREF}-tr {
  // Applied if the table row is selected.
  &--active {
    > td {
      background-color: $primary-bg;
    }
  }

  &--clickable {
    cursor: pointer;

    @include HOVER {
      // Can't extend within an include, so manually write shadow--2.

      box-shadow: 0 0 8px 2px hsla($primary-hue, 99%, 17%, 0.15);
      position: relative;
      transform: scale(1); // Required to push to higher stacking context.
      z-index: 10;
    }
  }
}
