$PREF: 't-row';

// ## ROW CONTAINER

.#{$PREF} {
  &--margin-top-auto { margin-top: auto; }

  &:not(&--equal):not(&--spacing-sm) > *:not(:last-child) { margin-right: $xs; }

  &--equal {
    bottom: $md;
    position: sticky;
    width: 100%;
  
    > * { width: 50%; }
    > *:first-child { margin-right: $xxs; }
    > *:last-child { margin-left: $xxs; }
  }

  &--spacing-xs > *:not(:last-child) { margin-right: $xs; }
  &--spacing-sm > *:not(:last-child) { margin-right: $sm; }
}
