$PREF: 't-row';

// ## ROW CONTAINER

.#{$PREF} {
  &--equal { bottom: $md; position: sticky; width: 100%; }
  &--equal > * { width: 50%; }

  &--gap-xxs { margin-bottom: -$xxs; margin-right: -$xxs; }
  &--gap-xxs > * { margin-bottom: $xxs; margin-right: $xxs; }

  &--gap-xs { margin-bottom: -$xs; margin-right: -$xs; }
  &--gap-xs > * { margin-bottom: $xs; margin-right: $xs; }

  &--gap-sm { margin-bottom: -$sm; margin-right: -$sm; }
  &--gap-sm > * { margin-bottom: $sm; margin-right: $sm; }

  &--spacing-xs { > *:not(:last-child) { margin-right: $xs; } }
  &--spacing-sm { > *:not(:last-child) { margin-right: $sm; } }
}
