$PREF: 'c-misc-dropdown';

// ## DROPDOWN - The dropdown div only displays the current value, and only
// when you click on it does the container appear.

.#{$PREF} {
  background-color: $gray-5;
  background-position-x: calc(100% - 8px);
  border-radius: $xxs;
  color: $gray-3;
  cursor: pointer;
  height: $lg;
  width: 100%;

  @include OVERFLOW_ELLIPSES;
}

.#{$PREF} > div:first-child {
  @extend .flex-acsb;
  @extend .fill;

  padding: 0 $xs;

  > p { margin-right: $sm; }
  > svg { color: $gray-3; height: $sm; width: $sm; }
}

// ## DROPDOWN OPTION CONTAINER

.#{$PREF}-search { box-sizing: border-box; padding: 8px; width: 100%; }

.#{$PREF}-option-ctr {
  @extend .shadow--1;

  background-color: white;
  border-radius: $xxs;
  margin-bottom: $xl; // For when the dropdown is at the bottom of the page.
  padding-bottom: $xs;
  padding-top: $xs;
  position: absolute; // So that the container doesn't change document flow.
  z-index: 1;
}

// No results message.
.#{$PREF}-option-ctr > p {
  @extend .flex-ac;

  color: $gray-3;
  height: $lg;
  margin-left: $xs;
  width: 100%;
}

.#{$PREF}-option {
  @extend .flex-ac;
  
  height: $lg;
  overflow: hidden;
  width: 100%;

  @include HOVER { background-color: $gray-6; }
}

.#{$PREF}-option > p { @extend .c-tag-attr; margin-left: $xs; }

// ## DROPDOWN BAR CONTAINER

// Dropdown bar that user clickes on to open the option container.
div.#{$PREF}-bar {
  @extend .flex-acsb;
  @extend .c-misc-input;

  cursor: pointer;
  max-width: 100%;

  > div { max-width: 100%; overflow: scroll; }

  // If the container becomes full, still shows arrow at regular size.
  > svg { color: $gray-4; height: $sm; overflow: visible; width: $sm; }

  &--open {
    background-color: white;
    border: 1px $primary solid;

    > svg { color: $primary; }
  }
}

// When a user selects an option, it displays in this container.
.#{$PREF}-value-ctr { @extend .flex-ac; }
.#{$PREF}-value-ctr > button.c-tag-attr { overflow: visible; }

// The value that displays is just a tag except with no margin-left and that
// has an option to delete, shown by the 'x' in the ::after rule.
button.#{$PREF}-value {
  margin-left: 0;

  &--cancel::after { content: 'x'; margin-left: $xs; }
}
