$PREF: 's-directory-modal';

.#{$PREF}-pic * {
  border-radius: 50%;
  height: 96px;
  margin-bottom: $sm;
  width: 96px;
}

.#{$PREF}-pic > h1 {
  @extend .flex-acc;

  background-color: $primary;
  color: white;
  font-size: $lg;
}

// Name of the person.
.#{$PREF}-user-ctr { @extend .flex-col; @extend .flex-acc; width: 100%; }

.#{$PREF}-user-ctr-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.#{$PREF}-user-ctr-header > :first-child {
  height: fit-content;
  justify-self: left;
}
.#{$PREF}-user-ctr-header > :nth-child(2) { justify-self: center; }

.#{$PREF}-user-ctr > h1 { color: black; margin-bottom: $xxs; }
.#{$PREF}-user-ctr > p { margin-bottom: $sm; text-align: center; }

// Current location of the person.
.#{$PREF}-user-ctr > p:first-of-type { @extend .meta; color: $gray-2; }

// ### SOCIAL MEDIA CONTAINER

.#{$PREF}-social-ctr { @extend .flex-ac; }
.#{$PREF}-social {
  @include HOVER { transform: scale(1.1); }

  &:not(:last-child) { margin-right: $sm; }
  &--facebook > svg { color: #1877f2; }
  &--linkedin > svg { color: #0a66c2; }
  &--twitter > svg { color: #1da1f2; }
}

// ## DATA CONTAINER (NON-USER INFORMATION)

.#{$PREF}-data-ctr {
  background-color: $gray-6;
  border-radius: 12px;
  padding: $sm;
}

.#{$PREF}-question:not(:last-child) { margin-bottom: $sm; }
.#{$PREF}-question > p:first-of-type {
  @extend .sb;

  margin-bottom: $xxs;
}
.#{$PREF}-question > p:last-of-type { color: $primary; }
.#{$PREF}-question--choice > p:last-child {
  @extend .c-misc-tag;

  margin-left: 0;
}
