$PREF: 's-home-sidebar';

.#{$PREF} {
  @extend .flex;
  @extend .shadow--1;

  height: 100%;
  position: fixed;
  top: 0;
  width: $xxl * 5.5;
  z-index: 12;

  @include MT { display: none; }
}

.#{$PREF}-main {
  @extend .flex-col;

  background-color: white;
  border-right: none;
  box-sizing: border-box;
  height: 100%;
  max-height: 100vh;
  width: 100%;
}

.#{$PREF}-main > h2 { color: $primary; margin: $md 0 0 $sm; }

.#{$PREF}-main > p {
  @extend .meta;

  color: $gray-3;
  font-size: 13px;
  margin-bottom: $xxs;
  margin-left: $xs;
}

.#{$PREF}-section-ctr { height: 100%; }
.#{$PREF}-section { margin-top: $md; &:first-of-type { margin-top: 0; } }

// Section heading (ie: MAIN, ADMIN, QUICK ACTIONS).
.#{$PREF}-section > h4 { color: $gray-3; margin-left: $sm; }

.#{$PREF}-link {
  @extend .flex-ac;

  border-left: 3px white solid;
  border-radius: 0 $lg $lg 0;
  box-sizing: border-box;
  color: $gray-1;
  justify-content: left;
  margin: $xs 0;
  padding: $xs $xxs $xs $sm;
  text-align: left;
  width: 95%;

  @include PRIMARY_HOVER;

  // To make the border color appear as we want it to, we need to
  // background-clip it.

  @include HOVER {
    background-clip: padding-box; // Needed to set the border-left color.
    border-left: 3px $primary-hover solid;
  }
}

// Disables the scaling transition that typically happens for custom buttons.
button.#{$PREF}-link { &:active { transform: none; } }

.#{$PREF}-link > svg {
  color: $gray-1;
  height: 20px;
  margin-right: $xs;
  width: 20px;
}

.#{$PREF}-link--active {
  @extend .sb; 

  background-color: $primary-hover;
  border-left: 3px $primary solid;
  color: $primary;

  @include PRIMARY_HOVER;
  @include HOVER { border-left: 3px $primary solid; }
}

.#{$PREF}-link--active > svg { color: $primary; }

.#{$PREF}-action {
  @extend .flex-ac;

  border-radius: $sm;
  margin: $sm;
  padding: $xs;
  text-align: left;
}

.#{$PREF}-action > svg { height: $md; margin-right: $xs; width: $md; }

// ## DUES CONTAINER - Only shows if the user hasn't paid their dues yet.

.#{$PREF}-dues-ctr {
  box-sizing: border-box;
  margin-bottom: $sm;
  padding: 0 $sm;
  width: 100%;
}

.#{$PREF}-dues-ctr > div {
  @extend .flex-ac;

  margin-bottom: $xs;

  > svg { color: $red; margin-right: $xxs; }
  > h4 { color: $red; text-align: center; }
}

.#{$PREF}-dues-ctr > button { width: 100%; }

// ## COMMUNITY CONTAINER

.#{$PREF}-community-ctr {
  @extend .flex-accol;

  background-color: white;
  border-right: 1px $gray-5 solid;
  box-sizing: border-box;
  height: 100%;
  max-height: 100vh;
  padding: $sm $xs;
}

.#{$PREF}-community {
  border-radius: $xs;
  height: $xl + $xs;
  padding: 2px;
  width: $xl + $xs;
}

.#{$PREF}-community > img { @extend .fill; border-radius: $xxs; }

// ## PROFILE BAR

.#{$PREF}-main > div:last-of-type { border-top: 1px $gray-5 solid; }

.#{$PREF}-profile {
  @extend .flex-acsb;

  box-sizing: border-box;
  margin: $xs 0;
  padding: 12px 20px 12px $sm;
  width: 95%;
}

.#{$PREF}-profile > svg { color: $gray-1; }

.#{$PREF}-profile > div { @extend .flex-ac; }

.#{$PREF}-profile > div > div:last-child {
  @extend .flex-col; 

  align-items: flex-start;
  margin-left: $sm;

  > p {
    text-align: left;

    @include OVERFLOW_ELLIPSES;
  }

  > p:last-child {
    @extend .meta;

    color: $gray-3;
    text-transform: capitalize;
  }
}
