$PREF: 'c-misc-input';

// ## INPUT - The main element that all items will use, especially the short
// text and long text items. We set a special active state for them.

.#{$PREF} {
  @extend .flex-acsb;

  background-color: $gray-6;
  border: 1px $gray-4 solid;
  border-radius: $xxs;
  box-sizing: border-box;
  color: $gray-2;
  cursor: text;
  height: $lg;
  padding: 0 $xs;
  width: 100%;

  &::placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder { @extend .body; color: $gray-3; line-height: revert; }

  // Only reason we added this --focus variant is that we can use it in the
  // Stripe elements definition.
  &:focus:not(&--error),
  &--focus {
    background-color: white;
    border: 1px $primary solid;
    color: $gray-1;
  }

  &::selection { background-color: $primary-bg; }
  &--error { border: 1px $red solid; }

  &--lg {
    height: 96px;
    justify-content: center;
    padding: $xs;
    resize: none;
  }
}
