$PREF: 'c-loader';

// ## LOADER

.#{$PREF}-ctr {
  @extend .flex-acc;
  @extend .full-screen;

  background-color: $gray-6;
  z-index: 1005;
}

.#{$PREF} {
  align-items: center;
  column-gap: -$sl;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  > div { @extend .flex-col; margin-left: -8px; margin-right: -8px; }

  > div > div {
    animation: loading 1.25s ease-in infinite;
    margin-top: 4px;

    @keyframes loading {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
  }

  > div:nth-child(1) > div:nth-child(1) { animation-delay: 0.28s; }
  > div:nth-child(1) > div:nth-child(2) { animation-delay: 0.22s; }

  > div:nth-child(2) > div:nth-child(1) { animation-delay: 0s; }
  > div:nth-child(2) > div:nth-child(2) { animation-delay: 0.34s; }
  > div:nth-child(2) > div:nth-child(3) { animation-delay: 0.17s; }

  > div:nth-child(3) > div:nth-child(1) { animation-delay: 0.05s; }
  > div:nth-child(3) > div:nth-child(2) { animation-delay: 0.11s; }
}
