@import 'src/index.scss';

$PREF: 'c-btn';

// This is needed since we are manually setting the height of the button which
// throws off the vertical alignment of the button.

.#{$PREF} {
  @extend .btn-txt;
  @extend .flex-acc;
  

  border-radius: $xxs;

  @include HOVER { opacity: 0.8; }

  &--fill { width: 100%; }
  &--lg { height: $xl; }
}

.#{$PREF}-loading { @extend .flex-acc; cursor: default; }
.#{$PREF}-loading > p {
  @extend .btn-txt;
  @extend .flex-acc;

  color: $gray-3;
  margin-right: $sm;
}

.#{$PREF}-disabled {
  color: $gray-3 !important;
  cursor: not-allowed;

  @include HOVER { opacity: 1; }
}

// ## PRIMARY BUTTON

.#{$PREF}-primary {
  background-color: $primary;
  border: 1px $primary solid;
  color: $gray-6;
  padding: $xs $sm;

  &--disabled {
    @extend .#{$PREF}-disabled;

    background-color: $gray-5;
    border: 1px $gray-5 solid;
  }
  
  &--green { background-color: $green !important; }
}

// ## OUTLINE BUTTON

.#{$PREF}-outline {
  background-color: inherit;
  border: 1px $primary solid;
  color: $primary;
  padding: $xs $sm;

  &--disabled { @extend .#{$PREF}-disabled; border: none; }
  &--green { border: 1px $green solid !important; color: $green !important; }
}

// ## UNDERLINE BUTTON

.#{$PREF}-underline {
  color: $primary;
  padding: $xs $sm;
  text-decoration: underline;
  
  @include HOVER {
    background-color: rgba($color: $primary-hex, $alpha: 0.1);
    border-radius: 10px;
  }
}
