@import 'src/index.scss';

$PREF: 'c-btn';

// This is needed since we are manually setting the height of the button which
// throws off the vertical alignment of the button.

.#{$PREF}-base {
  @extend .btn-txt;
  @extend %flex-acc;

  border-radius: 8px;
  text-transform: uppercase;
}

.#{$PREF}-loading { @extend %flex-acc; cursor: default; }

.#{$PREF}-loading > p {
  @extend .btn-txt;
  @extend %flex-acc;

  color: $gray-3;
  margin-right: $xs;
}

// PRIMARY BUTTON

.#{$PREF}-primary {
  @extend .#{$PREF}-base;

  background-color: $orange-1;
  box-shadow: 0 2px 6px rgba($color: #000, $alpha: 0.2);
  color: $gray-6;
  height: $lg;
  padding-left: $lg;
  padding-right: $lg;

  &--disabled {
    background-color: $gray-5;
    box-shadow: none;
    color: $gray-3;
    cursor: not-allowed;

    @include HOVER { background: $gray-5; }
  }

  &--sm { height: $md; padding-left: $xs; padding-right: $xs; }

  @include M { width: 100%; }
}
