@import 'src/index.scss';

$PREF: 'c-btn';

// ## BASIC BUTTON

.#{$PREF} {
  @extend .btn-txt;
  @extend .flex-acc;
  
  border-radius: $xxs;

  @include HOVER { opacity: 0.8; }

  &--fill { width: 100%; }
  &--lg { height: $xl; }
}

// ## LOADING STATE

.#{$PREF}-loading { @extend .flex-acc; }
.#{$PREF}-loading > p { @extend .btn-txt; color: $gray-3; margin-right: $sm; }

// ## DISABLED STATE

.#{$PREF}-disabled {
  color: $gray-3 !important;
  cursor: not-allowed;

  @include HOVER { opacity: 1; }
}

// ## PRIMARY BUTTON

.#{$PREF}-primary {
  background-color: $primary;
  border: 1px $primary solid;
  color: $gray-6;
  padding: $xs $sm;

  &--disabled {
    @extend .#{$PREF}-disabled;

    background-color: $gray-5;
    border: 1px $gray-5 solid;
  }

  &--green {
    background-clip: padding-box;
    background-color: rgba($color: $green, $alpha: 0.1);
    border: 1px rgba($color: $green, $alpha: 0.1) solid;
    color: $green;
  }
}

// ## OUTLINE BUTTON

.#{$PREF}-outline {
  background-color: inherit;
  border: 1px $primary solid;
  color: $primary;
  padding: $xs $sm;

  &--disabled { @extend .#{$PREF}-disabled; border: none; }
}

// ## UNDERLINE BUTTON

.#{$PREF}-underline {
  color: $primary;
  padding: $xs $sm;
  text-decoration: underline;
  
  @include PRIMARY_HOVER;
  @include HOVER { border-radius: 10px; }
}

// ## MULTI BUTTON

.#{$PREF}-multi {
  background-color: inherit;
  border: 1px $primary solid;
  color: $primary;
  padding: $xs $sm;
  
  &--active { background-color: $primary; color: $gray-6; }
  &:first-of-type { border-radius: $xxs 0 0 $xxs; }
  &:last-of-type { border-radius: 0 $xxs $xxs 0; }

  // color: $primary;
  // padding: $xs $sm;
  // text-decoration: underline;
  
  // @include PRIMARY_HOVER;
  // @include HOVER { border-radius: 10px; }
  // &:first-of-type { border-radius: ; }
}
