@import 'src/index.scss';

$PREF: 'c-tip';

.#{$PREF} {
  @extend .meta;

  background-color: $gray-2;
  border-radius: $xxs;
  color: $gray-6 !important;
  padding: $xxs $xs;
  position: absolute;
}
