$PREF: 'c-table';

// ## TABLE DATA CELL

td {
  @extend .#{$PREF}-cell;

  background-color: white;
  color: $gray-1;
  vertical-align: top;

  > div > .c-misc-checkbox { z-index: 10; }
  > div > p { @include OVERFLOW_ELLIPSES(3); }
  > div > .c-tag-attr { margin: 0 $xxs $xxs 0; }
}

.#{$PREF}-td {
  &--multiple-select > div { @extend .flex-w; }

  // The first data cell has higher z-index than rest of td cells to have
  // horizontal scrolling hide the other cells under this first one.
  &--fixed {
    left: 0;
    z-index: 9;

    &::after {
      border-right: 1px solid $gray-5;
      content: '';
      height: 100%;
      left: -1px;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &--right { > div > *:last-child { margin-left: auto; } }
}

// ## TABLE DATA ROW

tr { &:not(:last-child) { border-bottom: 1px $gray-5 solid; } }

.#{$PREF}-tr {
  // Applied if the table row is selected.
  &--active { > td { background-color: $primary-bg; } }

  &--clickable {
    cursor: pointer;

    @include HOVER {
      // Can't extend within an include, so manually write shadow--2.
  
      box-shadow: 0 0 8px 2px hsla($primary-hue, 99%, 17%, 0.15);
      position: relative;
      transform: scale(1); // Required to push to higher stacking context.
      z-index: 10;
    }
  }
}
