@import 'src/index.scss';

$PREF: 's-database';

// ## ACTION ROW

.#{$PREF}-action-row { @extend .flex-acsb; margin-bottom: $sm; }
.#{$PREF}-action-row > div { @extend .flex-ac; }

// ## ACTION

.#{$PREF}-action {
  @extend .tooltip;
  @extend .tooltip--bottom;
  @extend .tooltip--middle;

  background-color: $gray-5;
  border-radius: 6px;
  margin-left: $xs;
  padding: 6px;

  &--promote { &::before { margin-left: -$xxs; } }
  &--delete > svg { fill: $red; }
}

// For all buttons that are not the Promote to Admin button, we set the tooltip
// to be to the right side of the icon.
:not(a) > .#{$PREF}-action { &:last-of-type { @extend .tooltip--right; } }
