@import 'src/index.scss';

$PREF: 's-database';

// ## ACTION ROW

.#{$PREF}-action-row { @extend .flex-acsb; margin-bottom: $sm; }
.#{$PREF}-action-row > div { @extend .flex-ac; }

// ## SEARCH BAR

.#{$PREF}-search {
  @extend .flex-ac;

  background-color: $gray-5;
  border-radius: 20px;
  color: $gray-3;
  padding: $xs $sm;
  width: $xxl * 5;
}

.#{$PREF}-search > svg { color: $gray-3; margin-right: $xs; }
.#{$PREF}-search > input { background-color: inherit; }

// ## ACTION

.#{$PREF}-action {
  @extend .tooltip;
  @extend .tooltip--bottom;
  @extend .tooltip--middle;

  background-color: $gray-5;
  border-radius: 6px;
  margin-left: $xs;
  padding: 6px;

  &:nth-of-type(3) { &::before { margin-left: -$xxs; } }
  &:nth-of-type(4) > svg { fill: $red; }

  &:last-of-type { @extend .tooltip--right; }
  &--red { color: $red; }
}

// .#{$PREF}-action > a {  }
