@import 'src/index.scss';

$PREF: 's-database';

// ## ACTION ROW

.#{$PREF}-action-row { @extend .flex-acsb; }

// ## SEARCH BAR

.#{$PREF}-search {
  @extend .flex-ac;

  background-color: $gray-5;
  border-radius: 20px;
  color: $gray-3;
  padding: $xs $sm;
  width: $xxl * 5;
}

.#{$PREF}-search > svg { color: $gray-3; margin-right: $xs; }
.#{$PREF}-search > input { background-color: inherit; }

// ## ACTION

.#{$PREF}-action { background-color: $gray-5; padding: 6px; }
