@import 'src/index.scss';

$PREF: 'c-misc';

// SEPARATOR

.#{$PREF}-sep { border-bottom: 1px $gray-5 solid; width: 100%; }

// ERROR MESSAGE. Has an icon and some text.

.#{$PREF}-error { @extend .flex; margin-top: $sm; }
.#{$PREF}-error > p { color: $red; line-height: 20px; margin-top: -2px; }
.#{$PREF}-error > img {
  height: 18px;
  margin-right: $xxs;
  width: 18px;
}

// TAG

.#{$PREF}-tag {
  @extend .primary-bg;
    
  border-radius: $sm;
  color: black;
  font-size: 13px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 6px;
  padding-right: 6px;
  text-align: left;
  width: fit-content;

  @include OVERFLOW_ELLIPSES;
}

// CHECKBOX

.#{$PREF}-checkbox {
  @extend .flex-acc;
  
  background-color: inherit;
  border: 1px $gray-4 solid;
  border-radius: $xxs;
  cursor: pointer;
  height: $sm;
  width: $sm;

  &--active {
    background-color: $primary !important;
    border: 1px $primary solid !important;
  }
}

.#{$PREF}-checkbox > svg { height: $sm + 2; stroke-width: 3px; width: $sm + 2; }
