$PREF: 'mo-payment';

// ## PAYMENT BUTTON

.#{$PREF}-button {
  > svg { @extend .react-icon; color: white; margin-right: $xs; }
  &:disabled > svg { color: $gray-3; }

  &--continue > svg { margin: 0 0 0 $xs; }
}

// ## BILLING CONTAINER - Row that contains the City, State, and Zip Code.

.#{$PREF}-billing-ctr > div:not(:last-child) { margin-right: $sm; }

.#{$PREF}-billing-ctr > .o-form-item,
.#{$PREF} > .c-modal-content-ctr > .o-form-item, 
.#{$PREF}-item {
  margin-bottom: $md;
  margin-top: 0;

  > h4:first-child,
  > .o-form-label { margin-bottom: $xs; }
}

.#{$PREF}-billing-ctr > .o-form-item { margin-bottom: 0; margin-top: 0; }
.#{$PREF}-item--type > div { @extend .flex-acsb; }
