$PREF: 'o-bottom-bar';

// Only displays if the breakpoint is T or less.
.#{$PREF} {
  @extend .flex-acsb;

  background-color: $gray-6;
  border-top: 2px $gray-5 solid;
  bottom: 0;
  height: $xxl - $xxs;
  left: 0;
  position: fixed;
  width: calc(100vw - 48px);
  z-index: 100;

  @include RESP(padding, $xxs $md, $xxs $md, $xxs $md);
  @include M { width: calc(100vw - $xl); }
  @include MT { display: flex; }
  @include D { display: none; }
  @include T {
    .#{$PREF} > div:first-child {
      border-right: 1px $gray-5 solid;
      padding-right: $sm;
    }

    // We add an extra community icon to the container to acheive centering
    // but we have to hide it from the screen.
    > div:last-child { visibility: hidden; }
  }
}

// .#{$PREF} > div:first-child { border-right: 1px $gray-5 solid; }
.#{$PREF} > div:nth-of-type(2) { @extend .flex-c; align-items: flex-end; }

.#{$PREF}-link {
  @extend .flex-accol;

  margin: $md;

  @include M { margin: 0; }
  @include HOVER { > svg { color: $primary; } }

  > * { color: $gray-2; }
  &--active { > * { color: $primary; } }

  &--community {
    height: $xl;
    margin-left: 0;
    width: $xl;

    @include M { height: $lg; width: $lg; }

    > img {
      @extend .fill;

      border: 1px $primary solid;
      border-radius: $xs;
      padding: 1px;
    }
  }

  > svg {
    margin-bottom: $xxs;

    @include M { margin-bottom: 2px; }
  }
  > p { @extend .meta; }
}

// ## DROPDOWN - Allows users to switch between communities.

.#{$PREF}-dropdown-bg {
  @extend .full-screen;

  backdrop-filter: blur(2px);
  background-color: hsla($primary-hue, 5%, 20%, 0.5);
  height: calc(100vh - 60px) !important;
  z-index: 100;

  @include D { display: none; }
}

.#{$PREF}-dropdown {
  background-color: $gray-6;
  border-bottom: 1px $gray-5 solid;
  border-radius: $xs $xs 0 0;
  bottom: $xxl;
  box-sizing: border-box;
  height: fit-content;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 1001;

  @include RESP(padding, $md, $sm $md, $xs $sm);
  @include D { display: none; }
}

.#{$PREF}-dropdown-link {
  @extend .flex-acsb;
  
  width: 100%;

  &:not(:last-child) { margin-bottom: $sm; }

  > .c-btn { @extend .flex-ac; }

  > .c-btn > img {
    @extend .fill;

    border: 1px $gray-6 solid;
    border-radius: $xs;
    height: $xl;
    margin-right: $xs;
    padding: 1px;
    width: $xl;
  }

  > svg {
    color: $green;

    @include T { height: $md; width: $md; }
  }

  &--active > .c-btn > img { border: 1px $primary solid; }
}
