$PREF: 'c-btn';

// ## BASIC BUTTON

.#{$PREF} {
  @extend .flex-acc;
  
  border-radius: $xxs;
  transition: transform 0.2s ease-out;

  &:not(:disabled, &--white) {
    @include HOVER { opacity: 0.8; }
    &:active { transform: scale(0.95); transition: transform 0.2s ease-out; }
  }

  &:disabled { cursor: not-allowed; }

  &--fill { width: 100%; }
  &--fit { width: fit-content; }
  &--lg { height: $xl; }
}

// ## LOADING STATE - Includes the loading text as well as the Spinner.

.#{$PREF}-loading-ctr { @extend .flex-acc; }
.#{$PREF}-loading-ctr > p {
  @extend .meta--lg;

  color: $gray-3;
  margin-right: $sm;
}

// ## PRIMARY BUTTON

.#{$PREF}--primary {
  @extend .meta--lg;

  background-color: $primary;
  border: 1px $primary solid;
  color: white;
  padding: $xs $sm;

  &:disabled {
    background-color: $gray-5;
    border: 1px $gray-5 solid;
    color: $gray-3;
  }
}

// ## SECONDARY BUTTON

.#{$PREF}--secondary {
  @extend .meta--lg;
  
  border: 1px $primary solid;
  color: $primary;
  padding: $xs $sm;

  &:disabled { border: 1px $gray-4 solid; color: $gray-4; }
}

// ## TERTIARY BUTTON

.#{$PREF}--tertiary {
  @extend .meta--lg;

  color: $primary;
  padding: $xs $sm;
  text-decoration: underline;
  
  @include PRIMARY_HOVER;
  @include HOVER { border-radius: $xxs; }

  > svg { color: $primary; margin-left: $xs; }
}
