$PREF: 'o-list';

// ## LIST

.#{$PREF} {
  column-gap: $sm;
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  row-gap: $sm;

  @include GTE(1119) { grid-template-columns: repeat(auto-fill, 360px); }
  @include LTE(1118) { grid-template-columns: auto; }
  @include T { grid-template-columns: repeat(auto-fill, 360px); }
  @include LTE(788) { grid-template-columns: auto; }
}

// ## LIST SEARCH

.#{$PREF}-search { margin-bottom: $sm; }
