@import 'src/index.scss';

$PREF: 's-home';

// ## HOME

// Implements the margin that we're used to seeing. We limit the width to be
// 1440px.
.#{$PREF} {
  align-items: flex-start;
  box-sizing: border-box;
  column-gap: $md;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  height: 100%;
  margin-right: $md;
  max-height: 100%;
  overflow: hidden;

  @include DD { margin: auto; max-width: 1440px; width: 100%; }
}

.#{$PREF}-nav {
  @extend %flex;

  grid-column: 1 / 5;
  height: 100%;
  position: sticky;
  top: 0;
  width: 100%;
}

// Makes the header consistent across each page. Mainly for loading purposes.
.#{$PREF}-header { @extend %flex-ac; grid-row: 1 / span 5; margin-bottom: $sm; }
.#{$PREF}-header > h3 { margin-right: $sm; }

// ## SIDEBAR

.#{$PREF}-sidebar {
  background-color: $white;
  border-right: 1px $gray-5 solid;
  box-sizing: border-box;
  height: 100%;
  padding: $sm $xs;
  width: 100%;
}

.#{$PREF}-sidebar-link {
  @extend .btn-txt;
  @extend %flex-ac;
  
  border-radius: $xxs;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  margin: $sm 0;
  padding: $xxs;
  text-align: left;
  width: 100%;

  &--active { background-color: $black; color: $white; }
  &:first-of-type { margin-top: 0; }
}

.#{$PREF}-sidebar-link > svg { height: $sm; margin-right: 8px; width: $sm; }

.#{$PREF}-sidebar > p {
  @extend .meta;

  color: $gray-3;
  font-size: 13px;
  margin-bottom: $xxs;
  margin-left: $xs;
}

// ## CONTENT

.#{$PREF}-content {
  box-sizing: border-box;
  grid-column: 5 / -1;
  margin-bottom: $md;
  margin-top: $sm;
  max-height: 100%;
  overflow: scroll;
}
