@import 'src/index.scss';

$PREF: 's-home';

// ## HOME

// Implements the margin that we're used to seeing. We limit the width to be
// 1440px.
.#{$PREF} {
  box-sizing: border-box;
  height: 100%;

  @include RESP(margin-left, $xxl * 3, 0, 0);
  @include RESP(margin-right, $xxl * 3, 0, 0);
  @include DD { margin: auto; max-width: 1440px - ($xxl * 6); width: 100%; }
}

// ## MAIN CONTENT (SIDEBAR AND CONTENT)

.#{$PREF}-main { @extend %flex-sb; box-sizing: border-box; margin-top: $sm; }
.#{$PREF}-main > * { height: 100%; }

// ## SIDEBAR

.#{$PREF}-sidebar {
  margin-right: $md;
  min-width: $xxl * 3;

  @include T { margin-left: $xs; }
}

.#{$PREF}-sidebar > div {
  @extend %flex-col;

  align-items: flex-start;
  background-color: $white;
  border: 1px $gray-5 solid;
  border-radius: $xs;
  box-sizing: border-box;
  margin-bottom: $sm;
  padding: $xs;
  width: 100%;
}

.#{$PREF}-sidebar > div > a {
  @extend .btn-txt;
  @extend %flex-ac;
  
  font-size: 14px;
  font-weight: 600;
  margin: $xs 0;
  text-align: left;
  width: 100%;
}

.#{$PREF}-sidebar > div > a > span { font-size: 18px; margin-right: $xxs; }

.#{$PREF}-sidebar > p {
  @extend .meta;

  color: $gray-3;
  font-size: 13px;
  margin-bottom: $xxs;
  margin-left: $xs;
}

// ## CONTENT

.#{$PREF}-content { overflow: hidden; width: 100%; }
