$PREF: 's-home-bb';

// Only displays if the breakpoint is T or less.
.#{$PREF} {
  @extend .flex-acsb;

  background-color: $gray-6;
  border-top: 2px $gray-5 solid;
  bottom: 0;
  height: $xxl - $xxs;
  left: 0;
  position: fixed;
  width: calc(100vw - 48px);
  z-index: 100;

  @include RESP(padding, $xxs $md, $xxs $md, $xxs $xs);
  @include M { justify-content: center; width: calc(100vw - 16px); }
  @include MT { display: flex; }
  @include D { display: none; }
}

.#{$PREF} > div:first-of-type {
  border-right: 1px $gray-5 solid;
  padding-right: $sm;
}
.#{$PREF} > div:nth-of-type(2) { @extend .flex-c; align-items: flex-end; }
.#{$PREF} > div:last-of-type {
  visibility: hidden;

  @include M { display: none; }
}

.#{$PREF}-link {
  @extend .flex-accol;

  margin: $md;

  @include M { margin: $sm; }
  @include HOVER { > svg { color: $primary; } }

  > * { color: $gray-2; }
  &--active { > * { color: $primary; } }

  &--community {
    height: $xl;
    margin-left: 0;
    width: $xl;

    @include M { height: $lg; width: $lg; }

    > img {
      @extend .fill;

      border: 1px $primary solid;
      border-radius: 50%;
      padding: 1px;
    }
  }

  > svg {
    margin-bottom: $xxs;

    @include M { margin-bottom: 2px; }
  }
  > p { @extend .meta; }
}

// ## DROPDOWN - Allows users to switch between communities.

.#{$PREF}-dropdown-bg {
  @extend .full-screen;

  backdrop-filter: blur(2px);
  background-color: hsla($primary-hue, 5%, 20%, 0.5);
  height: calc(100vh - 60px) !important;
  z-index: 100;

  @include D { display: none; }
}

.#{$PREF}-dropdown {
  background-color: $gray-6;
  border-bottom: 1px $gray-5 solid;
  border-radius: $sm $sm 0 0;
  bottom: $xxl;
  height: fit-content;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 1001;

  @include RESP(padding, $md, $md, $md $xs);
  @include D { display: none; }
}
