$PREF: 's-home-bb';

.#{$PREF} {
  @extend .flex-acsb;

  background-color: $gray-6;
  border-top: 2px $gray-5 solid;
  bottom: 0;
  height: $xxl - $xxs;
  left: 0;
  padding: $xxs $md;
  position: fixed;
  width: calc(100vw - 48px);
  z-index: 100;
  
  @include M {
    // justify-content: center;

    // padding: $xxs $xs;
    // width: calc(100vw - 16px);
  }
  @include MT { display: flex; }
  @include D { display: none; }
}

.#{$PREF} > div:first-of-type {
  border-right: 1px $gray-5 solid;
  padding-right: $sm;
}
.#{$PREF} > div:nth-of-type(2) { @extend .flex-c; align-items: flex-end; }
.#{$PREF} > div:last-of-type { visibility: hidden; }

.#{$PREF}-link {
  @extend .flex-accol;

  margin: $md;

  // @include M {
  //   margin-right: $md;
  //   &:first-child { margin-right: $sm; }
  // }

  @include HOVER { > svg { color: $primary; } }

  // &:last-child { margin-right: 0; }

  > * { color: $gray-2; }
  &--active { > * { color: $primary; } }

  &--community {
    height: $xl;
    margin-left: 0;
    width: $xl;

    @include M { height: $lg; width: $lg; }

    > img {
      @extend .fill;

      border: 1px $primary solid;
      border-radius: 50%;
      padding: 1px;
    }
  }

  > svg {
    margin-bottom: $xxs;

    @include M { margin-bottom: 2px; }
  }
  > p { @extend .meta; }
}
