$PREF: 'o-chart';

.#{$PREF} {
  background-color: $gray-bg;
  border-radius: $xs;
  box-sizing: border-box;
  max-width: 100%;
  min-width: $xxl * 6;
  overflow: scroll;
  padding: $sm;
}

// ## INNER HEADER - Inlcudes the h4 title as well as the HeaderTag that
// says number of responses.

.#{$PREF} > div:first-child {
  @extend .f;
  @extend .f-ac;

  left: 0;
  margin-bottom: $sm;
  position: sticky;

  > h4 {
    color: $gray-2;
    margin-right: $xs;
    max-width: 75% !important; // Limit so that no overflow to 2 lines.
  
    @include OVERFLOW_ELLIPSES;
  }

  > p { border: 1px rgba($color: $primary-hex, $alpha: 0.3) solid; }
}

// ## CHART CONTAINER - The actual recharts graph. Has a wrapper container
// around it, so we can overflow scroll, in a similar fashion to how we
// implemented our custom tables.

// .#{$PREF}-ctr { box-sizing: border-box; max-width: 100%; overflow: scroll; }

// ## CHART TOOLTIP - Customized tooltip that follows Bloom style guide.

.#{$PREF}-tooltip {
  background-color: $gray-2;
  border-radius: $xxs;
  color: white;
  padding: $xxs $xs;
  
  > p { @extend .meta; color: white; }
}

// ## RECHARTS OVERRIDING - In order to properly customize our components,
// we have to override/extend some of the existing classes.

text.recharts-text { @extend .meta; color: $gray-2; }
