$PREF: 't-card';

// ## CARD

.#{$PREF} {
  @extend .flex-col;
  @extend .shadow--1;

  background-color: white;
  border-radius: $xs;

  &:not(&--no-padding) { padding: $sm; }
  &--clickable { cursor: pointer; }
}

// ## ANALYTICS CARD

.#{$PREF}--analytics {
  background-color: $gray-bg;
  border-radius: $xs;
  box-sizing: border-box;
  height: fit-content;
  padding: $sm;
  position: relative;
  width: $xxl * 4.5;

  @include MT { width: 100%; }
}

// ## INFORMATION CARD

.#{$PREF}--information {
  background-color: white;
  border: 1px $gray-4 solid;
  border-radius: $xxs;
  padding: $sm;

  > h4 { margin-bottom: $xs; }
  > p { @extend .meta; }
}

.f-ac > .#{$PREF}--information {
  width: -webkit-fill-available;

  &:first-child:not(:only-child) { margin-right: $xs; }
  &:last-child:not(:only-child) { margin-left: $xs; }
}
