$PREF: 't-misc-card';

// ## CARD

.#{$PREF} {
  @extend .flex-col;
  @extend .shadow--1;

  background-color: white;
  border-radius: $xs;

  &:not(&--no-padding) { padding: $sm; }
  &--clickable { cursor: pointer; }
}

// ## ANALYTICS CARD

.#{$PREF}--analytics {
  background-color: hsla($primary-hue, 5%, 88%, 0.4);
  border-radius: $xs;
  min-width: $xxl * 4;
  padding: $sm;
  position: relative;
  width: fit-content;
}

// ## INFORMATION CARD

.#{$PREF}--information {
  background-color: white;
  border: 1px $gray-4 solid;
  border-radius: $xxs;
  padding: $sm;

  > h4 { margin-bottom: $xs; }
  > p { @extend .meta; }
}

.flex-ac > .#{$PREF}--information {
  width: -webkit-fill-available;

  &:first-child:not(:only-child) { margin-right: $xs; }
  &:last-child:not(:only-child) { margin-left: $xs; }
}
