$PREF: 't-misc-card';

// ## CARD

.#{$PREF} {
  @extend .flex-col;
  @extend .shadow--1;

  background-color: white;
  border-radius: $xs;
  padding: $sm;
}

// ## INFORMATION CARD

.#{$PREF}--information {
  background-color: white;
  border: 1px $gray-4 solid;
  border-radius: $xxs;
  padding: $sm;

  > h4 { margin-bottom: $xs; }
  > p { @extend .meta; }
}
