@import 'src/index.scss';

$PREF: 's-home-database';

.#{$PREF} { box-sizing: border-box; max-height: 100%; overflow: hidden; }
.#{$PREF} > p { @extend .body--1; }

.#{$PREF}-actions { margin-bottom: $sm; }
.#{$PREF}-actions > div { @extend .flex-ac; margin-bottom: $sm; }
.#{$PREF}-actions > div > button { margin-right: $xs; }

.#{$PREF}-search-row { @extend .flex-sb; }
.#{$PREF}-search-row > h2 > span { font-size: 13px; margin-left: $xxs; }
