/*
   ___     _
  / __|___| |___ _ _ ___
 | (__/ _ \ / _ \ '_(_-<
  \___\___/_\___/_| /__/
*/

$black: #000;
$blue-1: #00558a;
$gray-1: #333;
$gray-2: #4f4f4f;
$gray-3: #828282;
$gray-4: #bdbdbd;
$gray-5: #e0e0e0;
$gray-6: #f2f2f2;
$green-1: #018a8a;
$orange-1: #f58023;
$orange-2: #f15627;
$red: #ef4123;
$white: #fff;
$yellow: #faa21e;

$bloom-gradient: linear-gradient(to right, $yellow, $red);
