// Colors from the Bloom style guide.

:root {
  --primary: #f58023;
  --primary-hex: 245, 128, 35;
  --primary-hue: 27;
  --gray-1: #333;
  --gray-2: #4f4f4f;
  --gray-3: #828282;
  --gray-4: #bdbdbd;
  --gray-5: #e0e0e0;
  --gray-6: #fafafa;
}

// ## CUSTOMIZED THEME COLORS

$primary: var(--primary);
$primary-hex: var(--primary-hex);
$primary-hue: var(--primary-hue);
$primary-bg: hsl($primary-hue, 35%, 93%);
$gray-bg: hsl($primary-hue, 5%, 92%);
$gray-1: var(--gray-1);
$gray-2: var(--gray-2);
$gray-3: var(--gray-3);
$gray-4: var(--gray-4);
$gray-5: var(--gray-5);
$gray-6: var(--gray-6);

// ## STANDARD COLORS

$green: hsl(150, 100%, 27%);
$red: hsl(9, 99%, 49%);
