@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;600;700&display=swap');

h1,
h2,
h3,
h4,
button,
p,
a,
td,
textarea,
span,
input { font-family: Muli; }

h1,
h2,
h3,
h4 { font-weight: 700; } // Bold text for headers.

h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 14px; text-transform: uppercase; }

// .body { font-size: 15px; font-weight: 400; }
.sb { font-weight: 600 !important; }
.meta { font-size: 13px; font-weight: 600; }
.body { font-size: 15px; font-weight: 400; }

// For some reason, it's not letting me @extend the .body class, so we just
// write the declarations again.
button,
p,
a,
td,
textarea,
span,
input { font-size: 15px; font-weight: 400; }

input::placeholder { color: $gray-3; }
