@mixin OVERFLOW_ELLIPSES($lines: 1) {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Sets the size of the element to be whatever size is specified. Ensure that
// the element is EXACTLY and ALWAYS that size.

@mixin SIZE($size) {
  max-height: $size;
  max-width: $size;
  min-height: $size;
  min-width: $size;
}

// We need to add the media query to ensure that if the device doesn't support
// hovering (such as an iPhone), then we shouldn't allow a hover state.

@mixin HOVER {
  @media (hover: hover) { &:hover { @content; } }
}

// If the size of the screen is less than 575px.

@mixin M { @media (max-width: "#{$M_SIZE}px") { @content; } }

// If the size of the screen is less than 1024px.

@mixin MT { @media (max-width: "#{$T_SIZE}px") { @content; } }

// If the size of the screen is between 576px and 1024px.

@mixin T {
  @media all
    and (min-width: "#{$M_SIZE + 1}px")
    and (max-width: "#{$T_SIZE}px") { @content; }
}

// If the size of the screen is at least 576px.

@mixin TD { @media (min-width: "#{$M_SIZE + 1}px") { @content; } }

// If the size of the screen is at least 1025px...

@mixin D { @media (min-width: "#{$T_SIZE + 1}px") { @content; } }

// If the size of the screen is at least 1441px...

@mixin DD { @media (min-width: "#{$D_SIZE + 1}px") { @content; } }

// If the device is less than or equal to the given pixels then...

@mixin GTE($window-width) {
  @media (min-width: "#{$window-width}px") { @content; }
}
@mixin LTE($window-width) {
  @media (max-width: "#{$window-width}px") { @content; }
}

// Allows for responsive values in a one-line declaration. We set the rule
// based on whether the screen is a desktop, tablet or mobile device.

@mixin RESP($rule, $desktop-val, $tablet-val, $mobile-val) {
  @include D { #{$rule}: $desktop-val; }
  @include T { #{$rule}: $tablet-val; }
  @include M { #{$rule}: $mobile-val; }
}
