@import './colors.scss';
@import './spacing.scss';

// Fills the entire height and width of the parent element.
.fill { box-sizing: border-box; height: 100%; width: 100%; }

// Shadow that has the primary color hint in it.
.shadow-1 { box-shadow: 0 2px 4px 1px hsla($primary-hue, 99%, 17%, 0.1); }

// Used globally for all react-icons.
.react-icon { color: black; height: $md; width: $md; }

// Disables scrollbar display for all elements.
*::-webkit-scrollbar { display: none; }

// ## TOOLTIP

.tooltip {
  @include HOVER { &::before { display: block; } }

  &--bottom::before {
    @extend .tooltip;

    left: 50%;
    margin-top: $xxs;
    top: 100%;
    transform: translateX(-50%);
  }

  &::before {
    background-color: $gray-2;
    border-radius: $xxs;
    color: $gray-6;
    content: attr(value);
    display: none;
    padding: $xxs $xs;
    position: absolute;
    text-align: center;
    z-index: 100;
  }
}

@mixin PRIMARY_HOVER {
  @media (hover: hover) {
    &:hover { background-color: rgba($color: $primary-hex, $alpha: 0.1); }
  }
}
@mixin PRIMARY_ACTIVE {
  &:active { background-color: rgba($color: $primary-hex, $alpha: 0.1); }
}

.back-arrow {
  border-radius: 50%;
  cursor: pointer;
  padding: $xxs;

  @include PRIMARY_HOVER;
}
