@import './colors.scss';
@import './spacing.scss';

// Fills the entire height and width of the parent element.
.fill { box-sizing: border-box; height: 100%; width: 100%; }

// Fills the entire screen.
.full-screen {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

// SHADOWS

// Shadow that has the primary color hint in it.
.shadow--1 { box-shadow: 0 0 4px 2px hsla($primary-hue, 99%, 17%, 0.1); }
.shadow--2 { box-shadow: 0 0 8px 2px hsla($primary-hue, 99%, 17%, 0.15); }

// BACKGROUND COLOR
.primary-bg { background-color: rgba($color: $primary-hex, $alpha: 0.1); }

// Used globally for all react-icons.
.react-icon {
  color: black;
  height: $md;
  width: $md;
  
  &--lg { height: 32px; width: 32px; }
}

// Disables scrollbar display for all elements.
*::-webkit-scrollbar { display: none; }

// ## TOOLTIP

.tooltip {
  position: relative;
  
  @include HOVER {
    &::before { opacity: 1; transition-delay: 0.5s; visibility: visible; }
  }

  &::before {
    @extend .meta;

    background-color: $gray-2;
    border-radius: $xxs;
    color: $gray-6;
    content: attr(value);
    display: block;
    height: max-content;
    opacity: 0;
    padding: $xxs $xs;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: max-content;
    z-index: 100;
  }

  &:active {
    &::before { opacity: 0; transition-delay: 0s; visibility: hidden; }
  }

  &--bottom { &::before { margin-top: $xxs; top: 100%; } }
  &--middle { &::before { left: 50%; transform: translateX(-50%); } }
  &--right { &::before { left: initial; right: 0; transform: initial; } }
}

// ## HOVER STATE (DILUTED PRIMARY COLOR)

@mixin PRIMARY_HOVER {
  @media (hover: hover) { &:hover { background-color: $primary-hover; } }
}

// This back arrow if most often used in a Flow component.
.back-arrow {
  border-radius: 50%;
  cursor: pointer;
  height: 26px;
  padding: $xxs;
  width: 26px;

  @include PRIMARY_HOVER;
}

// ## CARD

.card {
  @extend .flex-col;
  @extend .shadow--1;

  background-color: white;
  border-radius: $xs;
  padding: 12px 12px $md $sm;
}

// ## TEXT OVERFLOW

@mixin OVERFLOW_ELLIPSES($lines: 1) {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

// PATH

path { color: inherit; }

// SELECTION BACKGROUND

*::selection { background-color: $primary-hover; }
