
html,
body { height: 100%; margin: 0; padding: 0; width: 100%; }

body { line-height: 1; }

a { color: initial; text-decoration: none; }
button { background: none; cursor: pointer; padding: 0; }

button,
input,
textarea { border: none; outline: none; }

button,
body,
form,
input,
h1,
h2,
h3,
h4,
p,
textarea,
ol,
ul { margin: 0; padding: 0; }

ol,
ul { list-style: none; }
