// Standard sizes that are used across all SCSS but most likely in margins,
// paddings as well as width and height of images. Has other applications.

$xxs: 4px;
$xs: 8px;
$ss: 12px;
$sm: 16px;
$sl: 20px;
$md: 24px;
$lg: 36px;
$xl: 48px;
$xxl: 60px;

// Controls all of the @media queries based on the window width. Mixin
// functions allow for setting breakpoints at various widths.

$M_SIZE: 575;
$T_SIZE: 1024;
$D_SIZE: 1440;

// Flex configurations that are applicable in all settings.

.flex {
  display: flex;

  &-ab { @extend .flex; align-items: baseline; }
  &-ac { @extend .flex; align-items: center; }
  &-acc { @extend .flex-ac; justify-content: center; }
  &-accol { @extend .flex-ac; flex-direction: column; }
  &-acccol { @extend .flex-acc; flex-direction: column; }
  &-acsb { @extend .flex-ac; justify-content: space-between; }
  &-ae { @extend .flex; align-items: flex-end; }
  &-as { @extend .flex; align-items: flex-start; }
  &-c { @extend .flex; justify-content: center; }
  &-col { @extend .flex; flex-direction: column; }
  &-colsb { @extend .flex-col; justify-content: space-between; }
  &-sb { @extend .flex; justify-content: space-between; }
  &-w { @extend .flex; flex-wrap: wrap; }
}
