// Standard sizes that are used across all SCSS but most likely in margins,
// paddings as well as width and height of images. Has other applications.

$xxs: 6px;
$xs: 12px;
$sm: 24px;
$md: 36px;
$lg: 48px;
$xl: 60px;
$xxl: 72px;

// Flex configurations that are applicable in all settings.

%flex {
  display: flex;

  &-ac { @extend %flex; align-items: center; }
  &-acc { @extend %flex-ac; justify-content: center; }
  &-accol { @extend %flex-ac; flex-direction: column; }
  &-acccol { @extend %flex-acc; flex-direction: column; }
  &-acsb { @extend %flex-ac; justify-content: space-between; }
  &-ae { @extend %flex; align-items: flex-end; }
  &-c { @extend %flex; justify-content: center; }
  &-col { @extend %flex; flex-direction: column; }
  &-sb { @extend %flex; justify-content: space-between; }
  &-w { @extend %flex; flex-wrap: wrap; }
}
