@import './breakpoints.scss';

// This essentially imports some CSS classes that create the font-family Muli.
// That's why we can use that keyword in multiple places in this file.

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;400;500;600;700;800;900&display=swap');

// Returns the CSS font styling for different screen sizes.

@mixin font-responsive(
  $weight,
  $desktop,
  $desktop-lh,
  $tablet,
  $tablet-lh,
  $mobile,
  $mobile-lh
) {
  color: $gray-1;
  font-family: Muli;
  font-weight: $weight;

  @include D { font-size: $desktop; line-height: $desktop-lh; }
  @include T { font-size: $tablet; line-height: $tablet-lh; }
  @include M { font-size: $mobile; line-height: $mobile-lh; }
}

.meta { @include font-responsive(700, 12px, 24px, 12px, 24px, 12px, 24px); }

.body--1 { @include font-responsive(400, 16px, 24px, 16px, 24px, 16px, 24px); }

.body--1--bold {
  @include font-responsive(700, 16px, 24px, 16px, 24px, 16px, 24px);
}

.body--2 {
  color: $gray-2;

  @include font-responsive(400, 14px, 24px, 14px, 24px, 14px, 24px);
}

.body--2--bold {
  color: $gray-2;

  @include font-responsive(700, 14px, 24px, 14px, 24px, 14px, 24px);
}

.body--3 {
  color: $gray-2;

  @include font-responsive(400, 12px, 18px, 12px, 18px, 12px, 18px);
}

h1 { @include font-responsive(900, 36px, 48px, 32px, 48px, 30px, 36px); }
h2 { @include font-responsive(700, 30px, 36px, 26px, 36px, 26px, 36px); }
h3 { @include font-responsive(700, 24px, 36px, 20px, 24px, 20px, 24px); }
h4 { @include font-responsive(700, 18px, 24px, 18px, 24px, 18px, 24px); }

p,
textarea,
span,
input { @extend .body--1; }
