// This imports some CSS classes that create the font-family Muli.
// That's why we can use that keyword in multiple places in this file.

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;600;700&display=swap');

// Returns the CSS font styling for different screen sizes.

@mixin font-responsive(
  $weight,
  $desktop,
  $desktop-lh,
  $tablet,
  $tablet-lh,
  $mobile,
  $mobile-lh
) {
  font-family: Muli;
  font-weight: $weight;

  @include D { font-size: $desktop; line-height: $desktop-lh; }
  @include T { font-size: $tablet; line-height: $tablet-lh; }
  @include M { font-size: $mobile; line-height: $mobile-lh; }
}

.body--1 { @include font-responsive(400, 15px, 24px, 15px, 24px, 15px, 24px); }
.meta { @include font-responsive(600, 13px, 16px, 13px, 16px, 13px, 16px); }
.sb { font-weight: 600 !important; }
.bold { font-weight: 700 !important; }

h1 { @include font-responsive(700, 24px, 32px, 24px, 32px, 24px, 32px); }
h2 { @include font-responsive(700, 20px, 24px, 20px, 24px, 20px, 24px); }
h3 { @include font-responsive(700, 18px, 24px, 18px, 24px, 18px, 24px); }

button,
p,
a,
td,
textarea,
span,
input,
input::placeholder { @extend .body--1; }

input::placeholder,
th { color: $gray-3; }

.btn-txt {
  text-transform: uppercase;

  @include font-responsive(700, 13px, 16px, 13px, 16px, 13px, 16px);
}
