// ## MARGIN BOTTOM

.mb {
  &-xxs:not(:last-child) { margin-bottom: $xxs; }
  &-xs:not(:last-child) { margin-bottom: $xs; }
  &-ss:not(:last-child) { margin-bottom: $ss; }
  &-sm:not(:last-child) { margin-bottom: $sm; }
  &-sl:not(:last-child) { margin-bottom: $sl; }
  &-md:not(:last-child) { margin-bottom: $md; }
  &-lg:not(:last-child) { margin-bottom: $lg; }
}

// ## MARGIN RIGHT

.mr {
  &-xxs:not(:last-child) { margin-right: $xxs; }
  &-xs:not(:last-child) { margin-right: $xs; }
  &-sm:not(:last-child) { margin-right: $sm; }
  &-md:not(:last-child) { margin-right: $md; }
  &-lg:not(:last-child) { margin-right: $lg; }
}

// ## MARGIN TOP

.mt {
  &-auto { margin-top: auto; }
  &-xs { margin-top: $xs; }
  &-sm { margin-top: $sm; }
}

// ## MARGIN X

.mx {
  &-xs { margin-left: $xs; margin-right: $xs; }
  &-sm { margin-left: $sm; margin-right: $sm; }
}

// ## MARGIN Y

.my {
  &-xs { margin-bottom: $xs; margin-top: $xs; }
  &-sm { margin-bottom: $sm; margin-top: $sm; }
}

// ## PADDING

.p {
  &-sm { padding: $sm; }
}

// ## PADDING X

.px {
  &-xs { padding-left: $xs; padding-right: $xs; }
}

// ## PADDING Y

.py {
  &-sm { padding-bottom: $sm; padding-top: $sm; }
}

// ## WIDTH

.w {
  &-fill { width: 100%; }
}
