@import 'src/index.scss';

$PREF: 's-signup';

.#{$PREF} {
  margin-left: auto;
  margin-right: auto;

  @include RESP(margin-bottom, $xl, $lg, $md);
  @include RESP(margin-top, $xl, $lg, $md);
  @include RESP(width, 600px, 500px, 90%);
}

.#{$PREF} > img {
  border: 2px $gray-1 solid;
  border-radius: $xxs;
  height: $lg;
  margin-bottom: $xs;
  padding: 2px;
  width: $lg;
}

.#{$PREF} > h3 { margin-bottom: $xs; }
.#{$PREF} > p { margin-bottom: $md; }
.#{$PREF} > button { margin-top: $xxl; width: 100%; }

.#{$PREF}-confirmation-ctr {
  @extend %flex-acccol;

  height: 100%;
  margin-bottom: $xxl * 2;
  width: 100%;
}

.#{$PREF}-confirmation {
  @extend %flex-acccol;

  background-color: white;
  border: 1px $gray-5 solid;
  border-radius: $xxs;
  box-shadow: 0 2px 2px rgba($color: $gray-4, $alpha: 0.3);
  min-width: $xxl * 5;
  overflow: hidden;
  padding: $md;
  width: 400px;

  @include M { width: $SMALLEST_SCREEN; }
}

.#{$PREF}-confirmation > p > span { font-size: 18px; font-weight: 700; }
.#{$PREF}-confirmation > p { width: 100%; }

.#{$PREF}-confirmation-icon {
  background-color: $green;
  border-radius: 50%;
  height: $xl;
  margin-bottom: $sm;
  padding: 8px;
  width: $xl;
}

.#{$PREF}-confirmation-icon > img { height: 100%; width: 100%; }

.#{$PREF}-confirmation-email {
  background-color: rgba($color: $green, $alpha: 0.05);
  border: 1px $green solid;
  border-radius: $xxs;
  color: $green;
  margin-bottom: $sm;
  margin-top: $sm;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
}
