$PREF: 's-application';

// ## APPLICATION CONTAINER

.#{$PREF}-ctr {
  background-color: white;
  min-height: 100vh;

  @include RESP(padding-bottom, $xl, $lg, $md);
  @include RESP(padding-top, $xl, $lg, $md);

  > .t-misc-card {
    margin: auto;
    max-width: $xxl * 7;

    > .t-confirmation-screen > p:first-of-type { margin-bottom: $md; }
  }
}

// ## APPLICATION

.#{$PREF} {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: $lg;

  @include RESP(width, 600px, 500px, 90%);
}

// ## APPLICATION COMMUNITY ICON

.#{$PREF} > img {
  border: 2px $primary solid;
  border-radius: $xxs;
  height: $xl;
  margin-bottom: $xs;
  padding: 2px;
  width: $xl;
}

.#{$PREF} > h1 { margin-bottom: $xs; }
.#{$PREF} > p { color: $gray-2; margin-bottom: $lg; }
.#{$PREF} > button { margin-top: $xxl; width: 100%; }
