$PREF: 's-login';

.#{$PREF}-ctr {
  @extend .flex-acccol;
  @extend .fill;

  @include TD { margin-bottom: $xxl; }
}

// ## LOGIN CARD

.#{$PREF}-card {
  margin-top: -$xxl;
  max-width: $xxl * 7;
  overflow: hidden; // Needed to hide the overflowed network image.

  @include M { box-sizing: border-box; width: 90%; }
}

// ## LOGIN HEADER - Contains the network image as well as welcome message.

.#{$PREF}-header { @extend .flex-acsb; }
.#{$PREF}-header > div { margin-bottom: $lg; }
.#{$PREF}-header > div > h3 { @extend .meta; }
.#{$PREF}-header > img {
  margin-bottom: $lg;
  opacity: 0.75;

  @include RESP (margin-top, -$xxl, -$xl, -$xl);
  @include RESP (margin-left, $lg, $md, $sm);
}

// ## GOOGLE BUTTON

.#{$PREF}-google {
  margin-bottom: $md;
  &--sm { margin-bottom: $sm; }

  > a {
    @extend .c-btn;
    @extend .c-btn--lg;
    @extend .meta--lg;

    border: 1px $gray-5 solid;
    color: $gray-1;

    @include HOVER { background-color: $gray-6; }
  }

  > a > img { height: $md; margin-right: $xs; width: $md; }
}

// ## EMAIL CONTAINER (INPUT FIELD AND SUBMIT BUTTON)

.#{$PREF}-email-form > div { margin: $md 0; width: 100%; }

// ## LOGIN CONFIRMATION

.#{$PREF}-confirmation > p:first-of-type { margin-bottom: $md; }

.#{$PREF}-confirmation > div {
  @extend .flex-ac;

  margin-bottom: $sm;

  > h1 { color: $primary; }

  > svg {
    color: $primary;
    margin-right: $xs;

    @include SIZE($xxl);
  }
}
