$PREF: 's-login';

.#{$PREF}-ctr {
  @extend .flex-acccol;
  @extend .fill;

  @include TD { margin-bottom: $xxl; }
}

.#{$PREF}-card {
  @extend .flex-col;

  background-color: white;
  border: 1px $gray-5 solid;
  border-radius: $xs;
  margin-top: -$xxl;
  max-width: $xxl * 7;
  overflow: hidden;

  @include RESP (padding, $md, $sm, $sm);
  @include M { box-sizing: border-box; width: 90%; }
}

.#{$PREF}-header { @extend .flex-acsb; }
.#{$PREF}-header > div { margin-bottom: $lg; }
.#{$PREF}-header > div > h3 { @extend .meta; }
.#{$PREF}-header > img {
  margin-bottom: $lg;
  opacity: 0.75;

  @include RESP (margin-top, -$xxl, -$xl, -$xl);
  @include RESP (margin-left, $lg, $md, $sm);
}

// ## GOOGLE BUTTON

.#{$PREF}-google { margin-bottom: $md; &--sm { margin-bottom: $sm; } }
.#{$PREF}-google > a {
  @extend .btn-txt;
  @extend .c-btn;
  @extend .c-btn--lg;

  border: 1px $gray-5 solid;

  @include HOVER { background-color: $gray-6; }
}

.#{$PREF}-google > a > img {
  height: 20px;
  margin-right: $xs;
  width: 20px;
}

// ## EMAIL CONTAINER (INPUT FIELD AND SUBMIT BUTTON)

div.#{$PREF}-form-item { margin: $md 0; width: 100%; }

// ## CONFIRMATION SCREEN

.#{$PREF}-confirmation { @extend .flex-accol; }
.#{$PREF}-confirmation > p { width: 100%; }
.#{$PREF}-confirmation-header {
  @extend .flex-ac;
  @extend .fill;

  margin-bottom: $sm;
}

// ## CONFIRMATION SCREEN (HEADER)

.#{$PREF}-confirmation-header > svg {
  border-radius: 50%;
  color: $green;
  height: $xxl;
  margin-right: $xs;
  width: $xxl;
}

.#{$PREF}-confirmation-email {
  @extend .sb;

  background-color: rgba($color: $green, $alpha: 0.1);
  border: 1px $green solid;
  border-radius: $xxs;
  color: $green;
  margin: $sm auto;
  padding: $xs 0;
  text-align: center;
}
