@import 'src/index.scss';

$PREF: 's-login';

.#{$PREF}-ctr {
  @extend %flex-acccol;

  height: 100%;
  width: 100%;

  @include TD { margin-bottom: $xxl; }
}

.#{$PREF}-card {
  @extend %flex-col;

  background-color: $white;
  border: 1px $gray-5 solid;
  border-radius: $xxs;
  box-shadow: 0 2px 2px rgba($color: $gray-4, $alpha: 0.3);
  max-width: 400px;
  overflow: hidden;

  @include RESP (padding, $md, $sm, $sm);
  @include M { box-sizing: border-box; width: 90%; }
}

.#{$PREF}-header { @extend %flex-acsb; }
.#{$PREF}-header > div { margin-bottom: $lg; }
.#{$PREF}-header > div > h3 { @extend .meta; }
.#{$PREF}-header > img {
  margin-bottom: $lg;
  opacity: 0.75;

  @include RESP (margin-top, -$xxl, -$xl, -$xl);
  @include RESP (margin-left, $lg, $md, $sm);
}

.#{$PREF}-google {
  margin-bottom: $md;
  width: 100%;

  &--sm { margin-bottom: $sm; }
}

.#{$PREF}-google > a {
  @extend %flex-acc;

  border: 1px $gray-5 solid;
  border-radius: $xxs;
  box-shadow: 0 0 4px rgba($color: $gray-4, $alpha: 0.3);
  color: $gray-2;
  font-size: $sm;
  font-weight: 700;
  height: $lg;
  width: 100%;
}

.#{$PREF}-google > a:hover {
  background-color: rgba($color: $gray-6, $alpha: 0.35);
}

.#{$PREF}-google > a > img { height: $sm; margin-right: $xs; width: $sm; }
.#{$PREF}-submit-btn { margin-top: 0; width: 100%; }

.#{$PREF}-form-item { margin-bottom: $sm; margin-top: $sm; width: 100%; }

.#{$PREF}-confirmation { @extend %flex-accol; }
.#{$PREF}-confirmation > p { width: 100%; }

.#{$PREF}-confirmation-icon {
  background-color: $green-1;
  border-radius: 50%;
  height: $xl;
  margin-bottom: $sm;
  padding: 8px;
  width: $xl;
}

.#{$PREF}-confirmation-icon > img { height: 100%; width: 100%; }

.#{$PREF}-confirmation-email {
  background-color: rgba($color: $green-1, $alpha: 0.05);
  border: 1px $green-1 solid;
  border-radius: $xxs;
  color: $green-1;
  margin-bottom: $sm;
  margin-top: $sm;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
}
