$PREF: 'c-misc';

// ## SEPARATOR

.#{$PREF}-sep {
  border: 0;
  border-bottom: 1px $gray-5 solid;
  height: 0;
  width: 100%;
}

// ## ERROR MESSAGE - Has an icon and some text.

.#{$PREF}-error { @extend .flex; margin-bottom: $md; margin-top: $sm; }
.#{$PREF}-error > p { color: $red; margin-top: -2px; }
.#{$PREF}-error > svg { color: $red; margin: -2px $xxs 0 0; }

// ## WARNING MESSAGE - Has an icon and some text.

.#{$PREF}-warning { @extend .flex; margin-bottom: $md; margin-top: $sm; }
.#{$PREF}-warning > p { color: $gray-2; margin-top: -2px; }
.#{$PREF}-warning > svg { color: $gray-2; margin: -2px $xxs 0 0; }

// ## BLOOM LOGO

.#{$PREF}-logo { height: 18px; width: 75px; }

// ## PROFILE PICTURE CONTAINER - Can either be an img tag or if there is
// no URL provided, an h3 will be rendered.

.#{$PREF}-profile-picture--circle { border-radius: 50%; }
.#{$PREF}-profile-picture > * { @extend .fill; border-radius: inherit; }
.#{$PREF}-profile-picture > img { object-fit: cover; }
.#{$PREF}-profile-picture > h3 {
  @extend .flex-acc;

  background-color: $primary;
  color: white;
}
