@import 'src/index.scss';

$PREF: 'c-table';

// ## TABLE CONTAINER

##{$PREF}-ctr {
  background-color: white;
  border: 1px $gray-5 solid;
  border-radius: $xs;
  max-height: 0;
  overflow: scroll;
}

.#{$PREF} {
  border-collapse: collapse;
  border-spacing: $xs $xxs;
  height: fit-content;
  transform: rotateX(0deg);
  width: max-content;
}

.#{$PREF}-td--multiple-select > div { @extend .flex-w; }

// ## TABLE ROW (HEADER AND BODY)

tbody > tr {
  // background-color: inherit;

  border-bottom: 1px $gray-5 solid;
  cursor: pointer;

  @include HOVER {
    box-shadow: 0 0 8px 2px hsla($primary-hue, 99%, 17%, 0.15);
    position: relative;
    transform: scale(1);
    z-index: 10;

    // When hovering on the row, we remove the border to the right of the
    // checkbox row.
    // > td:first-of-type { &::after { border-right: none; } }
  }

  &:last-of-type { border-bottom: none; }
}

.#{$PREF}-tr--active {
  > td { background-color: $primary-hover; }
}

// ## TABLE CELL (HEADER AND CELL)

th,
td { left: 0; margin: 0; padding: $sm $md $sm $sm; position: sticky; }

// ## TABLE HEADER CELL

th {
  @extend .meta;

  background-color: $gray-6;
  box-sizing: border-box;
  max-width: $xxl * 5;
  position: sticky;
  text-align: left;
  text-transform: uppercase;
  top: 0;
  vertical-align: middle;
  z-index: 11;

  &::after {
    border-bottom: 1px solid $gray-5;
    border-right: 1px solid $gray-5;
    bottom: 0;
    content: '';
    height: 100%;
    left: -1px;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// ## TABLE CELL

td {
  background-color: white;
  color: $gray-1;
  max-width: $xxl * 5;
  vertical-align: top;
}

td > div > .c-misc-tag { margin: 0 $xxs $xxs 0; }

td > div { @include OVERFLOW_ELLIPSES(3); }

th > div {
  max-width: 100%;

  @include OVERFLOW_ELLIPSES;
}

th:first-of-type { z-index: 12; }

td:first-of-type {
  z-index: 9;

  &::after {
    border-right: 1px solid $gray-5;
    content: '';
    height: 100%;
    left: -1px;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

th:first-of-type > div,
td:first-of-type > div { @extend .flex-ac; }

th > div > .c-table-select { border: 1px $gray-3 solid; z-index: 12; }
td > div > .c-table-select { z-index: 9; }

// The actual checkbox. Note that even though we specify the div dimensions to
// be $sm, because of the border it actually renders as 18px. Update the SVG
// image accordingly.

.#{$PREF}-select {
  @extend .flex-acc;
  
  background-color: white;
  border: 1px $gray-4 solid;
  border-radius: $xxs;
  cursor: pointer;
  height: $sm;
  margin: 0 $lg 0 0;
  position: relative;
  width: $sm;
}

.#{$PREF}-select--active {
  background-color: $primary;
  border: 1px $primary solid !important;
}

.#{$PREF}-select > svg {
  height: $sm + 2;
  stroke-width: 3px;
  width: $sm + 2;
}

// ## PAGINATION CONTAINER

.#{$PREF}-pagination-ctr { @extend .flex-acsb; margin-top: $sm; }

// ## PAGINATION ROW

.#{$PREF}-pagination-row { @extend .flex-ac; }
.#{$PREF}-pagination-row > button:first-of-type { margin-right: $xs; }
.#{$PREF}-pagination-row > button:last-of-type { margin-left: $xs; }
.#{$PREF}-pagination-btn {
  @extend .body--1;

  border-radius: 50%;
  margin-right: $xxs;
  padding: 1px $xs;

  @include HOVER { background-color: rgba($color: $primary-hex, $alpha: 0.15); }

  &--active {
    background-color: $primary;
    color: white;

    @include HOVER { background-color: $primary; color: white; }
  }
}

// ## SELECTED BANNER

.#{$PREF}-banner {
  @extend .flex-acc;
  @extend .shadow--1;

  background-color: white;
  border-radius: $xs;
  margin-bottom: $xs;
  padding: $xs 0;
}

.#{$PREF}-banner > p { margin-right: $sm; }
