@import 'src/index.scss';

$PREF: 'c-table';

.#{$PREF}-ctr {
  @extend .no-scrollbar;
  
  background-color: $white;
  border: 1px $gray-5 solid;
  border-radius: 4px;
  max-height: 0;
  overflow: scroll;

  ::-webkit-scrollbar { background: transparent; display: none !important; }
}

.#{$PREF} {
  border-collapse: collapse;
  border-spacing: $xs $xxs;
  height: fit-content;
  width: max-content;

  // ## TABLE ROW (HEADER AND BODY)

  tbody > tr {
    border-bottom: 1px $gray-5 solid;
    cursor: pointer;

    @include HOVER { background-color: $gray-6; }

    &:last-of-type { border-bottom: none; }
  }

  // ## TABLE HEADER CELL

  th {
    @extend .meta;

    background-color: $white;
    box-sizing: border-box;
    color: $gray-3;
    position: sticky;
    text-align: left;
    top: 0;
    vertical-align: middle;
    z-index: 10;

    &.#{$PREF}-select {
      z-index: 20;
      
      &::after { top: -1px; z-index: -1; }
    }
    

    &::after {
      border-bottom: 1px solid $gray-4;
      bottom: 0;
      content: '';
      left: -1px;
      position: absolute;
      width: 100%;
    }
  }
  
  // ## TABLE CELL

  td { max-width: $xxl * 3; vertical-align: top; }

  // ## TABLE CELL (HEADER AND CELL)

  th,
  td { @extend .body--3; margin: 0; padding: $xs $md $xs $xs; }
}

.#{$PREF}-td {
  &--multiple-select { @extend %flex-w; }

  &--multiple-choice > span,
  &--multiple-select > span {
    @extend .body--3;

    background-color: rgba($color: $orange-1, $alpha: 0.25);
    border-radius: $sm;
    color: $black;
    margin: 0 2px $xxs 0;
    padding-left: 6px;
    padding-right: 6px;
    width: fit-content;
  }
}

// ## CHECKBOX

// Container for the checkbox select.
.#{$PREF}-select {
  background-color: $white;
  cursor: default;
  left: 0;
  padding: $xs !important;
  position: sticky;
  z-index: 2;

  // This is equivalent to just having border-right, except now, when we scroll
  // the table the border stays! Previously, it wasn't because of the
  // border-collapse property set to collapse on the table element.
  &::after {
    border-right: 1px solid $gray-5;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}

// The actual checkbox. Note that even though we specify the div dimensions to
// be 16px, because of the border it actually renders as 18px. Update the SVG
// image accordingly.

$CHECKBOX_DIM: 18px;

.#{$PREF}-select > div {
  @extend %flex-acc;
  
  background-color: $white;
  border: 1px $gray-4 solid;
  border-radius: 2px;
  cursor: pointer;
  height: $CHECKBOX_DIM;
  margin: 0;
  width: $CHECKBOX_DIM;
}

.#{$PREF}-select > div > svg {
  height: $CHECKBOX_DIM + 2;
  stroke-width: 3px;
  width: $CHECKBOX_DIM + 2;
}
