$PREF: 'c-main';

// ## HEADER - Makes the header consistent across each page. Mainly for loading
// purposes. However, each page should implement their own positioning whether
// it is grid-based or flex-based.

.#{$PREF}-header {
  background-color: $gray-6;
  padding: $md;
  position: sticky;
  top: 0;
  z-index: 11;
}

.#{$PREF}-header > div:first-of-type {
  @extend .flex-ac;

  > h1 { margin-right: $sm; }

  > button:first-of-type > svg {
    @extend .react-icon--xl;

    border-radius: 50%;
    margin-right: $sm;
    padding: 2px;

    @include HOVER {
      background-color: rgba($color: $primary-hex, $alpha: 0.15);
    }
  }
}

.#{$PREF}-content { margin: 0 $md; padding: 2px 2px $lg 2px; }
