$PREF: 't-loading-header';

// LOADING HEADER

.#{$PREF} {
  > h1,
  > h2,
  > h3,
  > h4,
  button:first-child { margin-right: $sm; }

  > button:first-child > svg {
    @extend .react-icon--xl;

    border-radius: 50%;
    color: $primary;
    padding: 2px;

    @include HOVER {
      background-color: rgba($color: $primary-hex, $alpha: 0.15);
    }
  }
}
