@import 'src/index.scss';

$PREF: 'c-nav';

.#{$PREF} {
  @extend %flex-accol;

  background-color: $white;
  border-left: 1px $gray-5 solid;
  border-right: 1px $gray-5 solid;
  box-sizing: border-box;
  height: 100%;
  padding: $sm $xs;
}

// ## COMMUNITY ICON CONTAINER

.#{$PREF} > div { @extend %flex-ac; }

// ## COMMUNITY ICON

.#{$PREF}-community {
  border-radius: $xxs;
  height: $xl + 4px;
  padding: 2px;
  width: $xl + 4px;
}

.#{$PREF}-community > img { @extend .fill; border-radius: 2px; }
