/* 
  ___                 ___                                  _      
 | __|__ _ _ _ __    / __|___ _ __  _ __  ___ _ _  ___ _ _| |_ ___
 | _/ _ \ '_| '  \  | (__/ _ \ '  \| '_ \/ _ \ ' \/ -_) ' \  _(_-<
 |_|\___/_| |_|_|_|  \___\___/_|_|_| .__/\___/_||_\___|_||_\__/__/
                                   |_|                            
*/

@import 'src/index.scss';

$PREF: 'c-form';

/* 
   ___                          
  / __|___ _ __  _ __  ___ _ _  
 | (__/ _ \ '  \| '  \/ _ \ ' \ 
  \___\___/_|_|_|_|_|_\___/_||_|
*/

.#{$PREF}-item { margin-bottom: $sm; margin-top: $sm; }
.#{$PREF}-label-ctr { @extend %flex-sb; @extend %flex-ae; width: 100%; }

.#{$PREF}-label {
  @extend .meta;

  font-size: 14px;
  font-weight: 600;
  margin-bottom: $xxs;
  max-width: 85%;
}

.#{$PREF}-label--required { @extend .#{$PREF}-label; }
.#{$PREF}-label--required::after {
  color: $red;
  content: '*';
  margin-left: $xxs;
}

.#{$PREF}-label--count { @extend .meta; color: $gray-3; margin-bottom: $xxs; }
.#{$PREF}-value { @extend .body--1; max-width: 100%; }
.#{$PREF}-desc { @extend .body--2; margin-bottom: $xxs; }
.#{$PREF}-error { @extend .body--3; color: $red; margin-top: $xxs; }

.#{$PREF}-input {
  @extend %flex-acsb;

  background-color: $white;
  border: 1px $gray-4 solid;
  border-radius: 4px;
  cursor: default;
  height: $md;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

.#{$PREF}-input--active {
  @extend .#{$PREF}-input;

  border: 1px $orange-1 solid;
}

.#{$PREF}-input--error {
  @extend .#{$PREF}-input; 

  border: 1px $red solid;
}

.#{$PREF}-input--lg {
  @extend .#{$PREF}-input;

  height: 96px;
  justify-content: center;
  padding-bottom: $xxs;
  padding-top: $xxs;
}

.#{$PREF}-input--lg--active {
  @extend .#{$PREF}-input--lg;

  border: 1px $orange-1 solid;
  height: 96px;
}

.#{$PREF}-input__txt {
  color: $black;
  cursor: text;
  height: 100%;
  padding: 0;
  width: 100%;
}

.#{$PREF}-input--lg__txt { @extend .#{$PREF}-input__txt; height: 84px; }

/* 
  ___                   _                 
 |   \ _ _ ___ _ __  __| |_____ __ ___ _  
 | |) | '_/ _ \ '_ \/ _` / _ \ V  V / ' \ 
 |___/|_| \___/ .__/\__,_\___/\_/\_/|_||_|
              |_|                         
*/

.#{$PREF}-dd-opt-ctr {
  background-color: $white;
  border-radius: $xxs;
  box-shadow: 0 4px 5px rgba($color: $black, $alpha: 0.15);
  margin-bottom: $lg;
  padding-bottom: $xxs;
  padding-top: $xxs;
  position: absolute;
}

.#{$PREF}-dd-opt {
  @extend %flex-ac;

  background-color: $white;
  height: $lg;
  overflow: hidden;
  width: 100%;

  @media (hover: hover) {
    &:hover { background-color: rgba($color: $orange-1, $alpha: 0.2); }
  }
}

.#{$PREF}-dd-opt--multiple {
  @extend .#{$PREF}-dd-opt;

  @media (hover: hover) { &:hover { background-color: $white; } }
}

// The no result found message.
.#{$PREF}-dd-opt--none {
  @extend %flex-ac;
  
  height: $lg;
  margin-left: $sm;
  width: 100%;
}

.#{$PREF}-dd-opt__txt {
  @extend .m-overflow-ellipses;

  color: $black;
  margin-left: 8px;
  margin-right: 8px;
  text-align: left;
  text-transform: none;
}

.#{$PREF}-dd-opt__check-ctr {
  @extend %flex-ac;
  @extend %flex-c;

  border-radius: 50%;
  height: $md;
  margin-left: $xs;
  margin-right: $xxs;
  padding: 0;
  width: $md;

  @media (hover: hover) {
    &:hover { background-color: rgba($color: $orange-1, $alpha: 0.1); }
  }
  
  /* stylelint-disable-next-line */
  &:active { background-color: rgba($color: $orange-1, $alpha: 0.3); }
}

.#{$PREF}-dd-opt__check {
  border: 1px $gray-4 solid;
  border-radius: 2px;
  height: 15px !important;
  width: 15px !important;
  
  &--active { height: 15px !important; width: 15px !important; }
}

/* 
  ___                       _   _      _              _ 
 |_ _|_ __  __ _ __ _ ___  | | | |_ __| |___  __ _ __| |
  | || '  \/ _` / _` / -_) | |_| | '_ \ / _ \/ _` / _` |
 |___|_|_|_\__,_\__, \___|  \___/| .__/_\___/\__,_\__,_|
                |___/            |_|
*/

.#{$PREF}-image__camera { height: 30px; width: 30px; }

.#{$PREF}-image__img {
  @extend %flex-acc;

  background-size: cover;
  border-radius: 50%;
  height: $xxl;
  margin-bottom: $xs;
  width: $xxl;

  @media (hover: hover) { &:hover { opacity: 0.8; } }

  /* stylelint-disable-next-line */
  &:active { opacity: 0.6; }
}

.#{$PREF}-image__input { display: none; }
