$PREF: 's-membership';

.#{$PREF}-card-ctr {
  column-gap: $sm;
  display: grid;
  grid-template-columns: repeat(2, $xxl * 5.5);
  margin-bottom: $lg;
}

// ## MANAGE MEMBERSHIP CARD (BASE)

.#{$PREF}-card {
  box-sizing: border-box;
  min-width: $xxl * 5.5;
  width: fit-content;

  > div:first-child {
    @extend .flex-ac;

    margin-bottom: $xs;
    
    > h4 { color: $gray-2; margin-right: $ss; }
  }
}

// ## CURRENT PLAN CARD

.#{$PREF}-card--plan {
  @extend .#{$PREF}-card;

  margin-right: $sm;
  
  > p:first-of-type > span:first-child { @extend .display; margin-right: $xxs; }
  > p:first-of-type > span:last-child { @extend .meta--lg; color: $gray-2; }
  > p:last-of-type { @extend .body--bold; margin-bottom: $sm; }
}

// ## PAYMENT METHOD CARD

.#{$PREF}-card--payment {
  @extend .#{$PREF}-card;

  > p:first-of-type { @extend .body--bold; margin-top: auto; }
  > p:last-of-type { @extend .meta; color: $gray-2; }
  > button { margin-top: auto; }
}

// ## PAYMENT HISTORY

.#{$PREF}-history-ctr {
  > h3 { margin-bottom: $sm; }
}

.#{$PREF}-plans-card-ctr {
  column-gap: $sm;
  display: grid;
  grid-template-columns: repeat(auto-fill, $xxl * 5.5);
  row-gap: $sm;
}

.#{$PREF}-plans-card {
  box-sizing: border-box;
  min-width: $xxl * 5.5;
  width: fit-content;

  > h4 { color: $gray-2; margin-bottom: $xs; }

  > p {
    margin-bottom: $sm;
    > span:first-child { @extend .display; margin-right: $xxs; }
    > span:last-child { @extend .meta--lg; color: $gray-2; }
  }
}
