$PREF: 'c-form';

// ## GENERAL

.#{$PREF}-item { margin-bottom: $lg; margin-top: $lg; }
.#{$PREF}-desc { color: $gray-2; margin-bottom: $sm; }
.#{$PREF}-error { color: $red; margin-top: $xxs; }

// ## LABEL

.#{$PREF}-label {
  @extend .flex-ac;

  color: $gray-1;
  margin-bottom: $xs;
  width: 100%;

  > svg { color: $green; margin-right: $xs; }
  > div.c-misc-tip { color: $primary; margin-left: $xxs; }

  &--required > h4::after { color: $red; content: '*'; margin-left: $xxs; }
}
