$PREF: 's-directory';

// ## CARD CONTAINER - Contains masonry component with infinite scrolling of
// the directory cards.

.#{$PREF}-card-ctr {
  box-sizing: border-box;
  display: grid;
  padding: $xxs 0;

  @include MT { padding-bottom: $xxl + $sm; }

  &:focus { outline: none; }
};

// ## DIRECTORY CARD

div.#{$PREF}-card {
  @extend .f;
  @extend .f-ac;
  
  height: max-content;
  height: 100%;
  padding: 0;
  position: relative;
  width: 100%;

  > .c-tag-number,
  > .t-row { position: absolute; top: $xs; z-index: 2; }

  > .c-tag-number { left: $xs; }

  > .t-row {
    background-color: hsl(36, 94%, 90%);
    border-radius: $xxs;
    padding: $xxs;
    right: $xs;

    > svg { color: #faa21e; }
  }

  &--empty { height: initial; }
};

div.#{$PREF}-card-star-ctr {
  @extend .flex-acc;
}

.#{$PREF}-card > div > h1 {
  @extend .flex-acc;

  background-color: $primary;
  color: white;
  font-size: $xxl;
}

.#{$PREF}-card > .m-profile-picture {
  position: relative;
  width: 100%;
  &::before { aspect-ratio: 1; content: ''; display: block; }
}

.#{$PREF}-card > .m-profile-picture > * {
  border-radius: $xs $xs 0 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

// ## CARD CONTENT - Refers to the text within the card (name and highlighted
// field).

.#{$PREF}-card-content { height: $xxl; padding: $sm $xs; }
.#{$PREF}-card-content > p {
  @extend .body--bold;

  max-width: 100%;
  text-align: center;

  @include OVERFLOW_ELLIPSES(3);
}

.#{$PREF}-card-content > p > span {
  @extend .meta;

  color: $gray-2;
  display: block;
  margin-top: $xxs;
  text-align: center;
}
