$PREF: 's-directory';

// ## CARD CONTAINER - Contains masonry component with infinite scrolling of
// the directory cards.

.#{$PREF}-card-ctr {
  box-sizing: border-box;
  display: grid;
  padding: $xxs 0;

  @include MT {
    padding-bottom: $xxl + $sm;
  }

  &:focus {
    outline: none;
  }
}

// ## DIRECTORY CARD

div.#{$PREF}-card {
  height: max-content;
  height: 100%;
  padding: 0;
  position: relative;
  width: 100%;

  > .c-tag-number,
  > .t-row {
    position: absolute;
    top: $xs;
    z-index: 2;
  }

  > .c-tag-number {
    left: $xs;
  }

  &--empty {
    height: initial;
  }
}

.#{$PREF}-card > div > h1 {
  @extend .flex-acc;

  background-color: $primary;
  color: white;
  font-size: $xxl;
}

.#{$PREF}-card > .m-profile-picture {
  position: relative;
  width: 100%;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.#{$PREF}-card > .m-profile-picture > * {
  border-radius: $xs $xs 0 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

// ## CARD CONTENT - Refers to the text within the card (name and highlighted
// field).

.#{$PREF}-card-content {
  height: $xxl;
  padding: $sm $xs;
}
.#{$PREF}-card-content > p {
  max-width: 100%;

  @include OVERFLOW_ELLIPSES(3);
}

// ## DIRECTORY FILTER QUESTION

.#{$PREF}-filter-question {
  border-bottom: 1px $gray-5 solid;
  border-radius: 0;
  cursor: pointer;
  display: block;
  padding: $sm $xs;
  width: $xxl * 6;

  &:first-child {
    border-top: 1px $gray-5 solid;
  }
}

.#{$PREF}-filter-question-option-list {
  max-height: $xxl * 4;
  overflow: scroll;
}
