$PREF: 's-directory';

// ## CARD CONTAINER - Contains masonry component with infinite scrolling of
// the directory cards.

.#{$PREF}-card-ctr {
  box-sizing: border-box;
  display: grid;
  padding: $xxs 0;

  @include MT { padding-bottom: $xxl + $sm; }

  &:focus { outline: none; }
};
