// Although we typically follow the pattern of naming the $PREF based on the
// file name, since we have a lot of elements that already use the c-misc
// prefix, we keep that here.

$PREF: 'c-misc';

// ## SEACH BAR - Similar to the input element except contains a search SVG
// icon, and this bar is rounded and darker gray with no focused state.

.#{$PREF}-search {
  @extend .flex-ac;

  background-color: $gray-5;
  border-radius: $sl;
  box-sizing: border-box;
  color: $gray-3;
  padding: $xs $sm;
  width: $xxl * 5;
}

.#{$PREF}-search > svg {
  color: $gray-3;
  margin-right: $xs;
  min-height: $sm;
  min-width: $sm;
}

.#{$PREF}-search > input {
  background-color: inherit;
  flex-grow: 1;
  width: 100%;

  &::selection { background-color: rgba($color: $primary-hex, $alpha: 0.2); }
}

.#{$PREF}-search-close {
  color: $gray-3;

  &--hide { visibility: hidden; }

  > svg { color: $gray-3; min-height: $sl; min-width: $sl; }
}

// ## QUESTION VALUE - Has a title component and value component.

.#{$PREF}-question:not(:last-child) { margin-bottom: $sm; }
.#{$PREF}-question > p:first-child { @extend .body--bold; margin-bottom: $xs; }
.#{$PREF}-question > div:last-child { @extend .flex-w; }
