@import './core/scss/reset';
@import './core/scss/breakpoints';
@import './core/scss/colors';
@import './core/scss/fonts';
@import './core/scss/misc';
@import './core/scss/spacing';
@import './core/components/Button/Button.scss';
@import './core/components/Elements/Elements.scss';
@import './core/components/Form/Form.scss';
@import './core/components/Loader/Loader.scss';
@import './core/components/Misc/Misc.scss';
@import './core/components/Modal/Modal.scss';
@import './core/components/Picker/Picker.scss';
@import './core/components/Table/Table.scss';
@import './core/components/Toast/Toasts.scss';
@import './scenes/Application/Application.scss';
@import './scenes/Database/Database.scss';
@import './scenes/Directory/Directory.scss';
@import './scenes/Directory/components/MemberCard/MemberCard.scss';
@import './scenes/Directory/components/MemberModal/MemberModal.scss';
@import './scenes/Home/Home.scss';
@import './scenes/Home/components/BottomBar/BottomBar.scss';
@import './scenes/Home/components/Sidebar/Sidebar.scss';
@import './scenes/Integrations/Integrations.scss';
@import './scenes/Login/Login.scss';
@import './scenes/PendingApplicants/PendingApplicants.scss';

#root { @extend .flex-col; height: 100%; }

#app {
  background-color: $gray-6;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
