$PREF: 'c-table-pagination';

// ## PAGINATION - Controls all of the table pagination by selecting different
// pages. Also controls the displaying text of which rows are being shown.

.#{$PREF}-ctr { @extend .flex-acsb; margin-top: $sm; }
.#{$PREF}-row { @extend .flex-ac; }
.#{$PREF}-num {
  border-radius: 50%;
  height: $md;
  width: $md;

  @include HOVER { background-color: $primary-light; }

  &:not(:last-child) { margin-right: $xxs; }

  &--active {
    background-color: $primary;
    color: white;

    @include HOVER { background-color: $primary; color: white; }
  }

  &--ellipses { @include HOVER { background-color: initial; cursor: default; } }
}

.#{$PREF}-chevron {
  border-radius: 50%;
  padding: 2px;

  @include HOVER { background-color: rgba($color: $primary-hex, $alpha: 0.15); }

  &:first-child { margin-right: $xs; }
  &:last-child { margin-left: $xs; }
}
