@import 'src/index.scss';

$PREF: 'c-logo';

$LOGO_HEIGHT: 18px;
$LOGO_WIDTH: 75px;

.#{$PREF}-img {
  height: $LOGO_HEIGHT;
  width: $LOGO_WIDTH;
}

.#{$PREF}-img--lg {
  height: $LOGO_HEIGHT * 1.5;
  width: $LOGO_WIDTH * 1.5;
}
