$PREF: 's-events';

// ## EVENTS CARD CONTAINER

.#{$PREF}-card-ctr {
  display: grid;
  padding: $xxs 0;

  @include MT { padding-bottom: $xxl + $sm; }

  &:focus { outline: none; }
};

// ## EVENTS CARD

.#{$PREF}-card {
  @extend .flex-col;

  align-items: flex-start;
  background-color: white;
  max-width: $xxl * 6;
  padding: 0;
}

// ## EVENTS CARD BACKGROUND

.#{$PREF}-card-bg {
  position: relative;
  width: 100%;
  &::before { content: ''; display: block; padding-top: 50%; }

  > div { background-color: $primary-bg; }

  > *:first-child {
    border-radius: $xs $xs 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

// ## EVENTS CARD CONTENT

.#{$PREF}-card-content {
  box-sizing: border-box;
  padding: $sm;
  width: 100%;

  > h5 { margin-bottom: $xxs; }

  > h3 {
    margin-bottom: $sm;

    @include OVERFLOW_ELLIPSES(2);
  }
  
  > button:last-child { margin-top: auto; }
}

// ## UPCOMING EVENTS SECTION

.#{$PREF}-upcoming > .c-misc-search { margin-bottom: $md; }
