$PREF: 'c-misc-search';

// ## SEARCH BAR - Similar to the input element except contains a search SVG
// icon, and this bar is rounded and darker gray with no focused state.

.#{$PREF} {
  box-sizing: border-box;
  padding: $xs $sm;

  > input {
    background-color: inherit;
    flex-grow: 1;
    width: 100%;

    &::selection { background-color: rgba($color: $primary-hex, $alpha: 0.2); }
  }
}
