$PREF: 'c-misc-search';

// ## SEARCH BAR - Similar to the input element except contains a search SVG
// icon, and this bar is rounded and darker gray with no focused state.

.#{$PREF} {
  @extend .flex-ac;

  background-color: $gray-5;
  border-radius: $sl;
  box-sizing: border-box;
  color: $gray-3;
  padding: $xs $sm;
  width: $xxl * 5;

  // Refers to the search icon.
  > svg { color: $gray-3; margin-right: $xs; min-height: $sl; min-width: $sl; }

  > input {
    background-color: inherit;
    flex-grow: 1;
    width: 100%;

    &::selection { background-color: rgba($color: $primary-hex, $alpha: 0.2); }
  }
}

// Button that wraps around the close icon.
.#{$PREF}-close {
  color: $gray-3;

  // If no input text is present, hide the icon.
  &--empty { visibility: hidden; }

  // Specify min-height and min-width in order to ensure that long text doesn't
  // affect the size of the icon.
  > svg { color: $gray-3; min-height: $sl; min-width: $sl; }
}
